$primary_color: #4b2d61;
.hola-signup-wrap {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 25px 15px;
    background-color: $primary_color;
    .container {
        max-width: 990px;   
    }
    .row{
        display: flex;
        background-color: #FFF;
        border-radius: 15px;
    }
    .hola-signp-left{
        padding: 0;
        img{
            max-width: 100%;
            float: left;
            width: 100%;
        }
    }
    .hola-signp-right{
        padding: 0;
    }
    .hola-signup-from {
        float: left;
        width: 100%;
        padding: 50px 15px;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .btn.btn-return {
        position: absolute;
        top: 25px;
        left: 15px;
        padding: 0;
        border: none;
        height: auto;
        line-height: 1.3;
        font-size: 0.9rem;
        box-shadow: none !important;
        outline: none !important;
        i{
            margin-right: 3px;
        }
    }
    .hola-signup-box {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        max-width: 260px;
        text-align: center;
        h4{
            float: left;
            width: 100%;
            font-weight: 400;
            line-height: 1;
            margin: 0 0 25px;
            font-size: 1.5rem;
            color: $primary_color;
        }
        .form-group {
            float: left;
            width: 100%;
            margin-bottom: 0;
            &+.form-group {
                margin-top: 25px;
            }
            input.form-control {
                text-align: center;
                border-top: none;
                border-radius: 0;
                border-right: 0;
                border-left: 0;
                border-bottom-color: #CCC;
                font-size: 0.9rem;
                outline: none;
                box-shadow: none !important;
                height: 40px;
                color: #444;
                &:focus{
                    border-bottom-color: $primary_color;
                }
            }
            .btn-hola {
                display: inline-block;
                vertical-align: top;
                margin-top: 10px;
                min-width: 120px;
                font-size: 0.95rem;
            }
        }
    }
}
@media only screen and (max-width:992px){
    .hola-signp-left {
        display: none;
    }
    .hola-signup-wrap .container {
        max-width: 400px;
    }
    .hola-signp-right {
        max-width: 100% !important;
        flex: 0 0 100% !important;
        min-height: 320px;
    }
}