<div class="hola-signup-wrap" id="hola-signup-wrap">
    <div class="container">
        <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-7 hola-signp-left">
            <img src="../../../assets/img/hola/signup.png" />
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5 hola-signp-right">
            <div class="hola-signup-from">
                <button class="btn btn-return" [routerLink]="['/']"><i class="icons icon-arrow-left-circle"></i> Return Home</button>
                <div class="hola-signup-box">
                    <h4>SIGN UP</h4>
                    <div class="form-group">
                        <input type="email" placeholder="Enter your email to get Started" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-hola btn-outline btn-pill">Let’s Go</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>