<div class="hola-config-section hola-step-knowledge">
    <!-- Left -->
    <div class="hola-config-left">
        <div class="hola-config-titles">
            <h3>Knowledge</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices, leo a vehicula ultricies, ante risus posuere ipsum, eget tristique justo nisi nec urna.</p>
        </div>
    </div>
    <!-- Right -->
    <div class="hola-config-right">
        <div class="hola-config-contents">
            <form class="hola-form-wrap">
                <div class="form-group">
                    <label for="hola_select_channels">Select Channels</label>
                    <select class="form-control" id="hola_select_channels">
                      <option>Website</option>
                      <option>Facebook</option>
                      <option>Twitter</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="hola_idustry">Industry</label>
                    <select class="form-control" id="hola_idustry">
                      <option>Default</option>
                      <option>Automobile</option>
                      <option>Health</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="hola_select_type">Type</label>
                    <select class="form-control" id="hola_select_type">
                      <option>Default</option>
                      <option>Custom</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn hola-btn-link" (click)="isCustomknowledge = !isCustomknowledge">Add Custom Knowledge </button>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-hola btn-hola-b btn-outline btn-pill">Next <i class="cui-arrow-right"></i></button>
                </div>
            </form>
        </div>

        <!-- Add Custom Knowledge Start -->
        <div class="hola-config-contents hola-right-popin" [collapse]="!isCustomknowledge">
            <div class="hola-popin-header">
                <h4>Add Custom Knowledge</h4>
                <button class="btn hola-btn-close" (click)="isCustomknowledge = !isCustomknowledge"><img src="../../../../assets/img/hola/close.svg" /></button>
            </div>
            <div class="hola-custom-knowledge-wrap">
                <tabset class="hola-custom-know-tabs">
                    <tab heading="FAQ">
                      <div class="hola-custom-know-tab-content">
                        <div class="hola-custom-know-tab-btns">
                            <button class="btn hola-btn-link"><i class="fa fa-upload"></i>Upload File</button>
                            <button class="btn hola-btn-link"><i class="fa fa-plus"></i>Add Knowledge</button>
                        </div>
                        <div class="hola-custom-know-tab-collpse">
                            <ul>
                                <li>
                                    <div class="hola-collapse-head">
                                        <h5>How Do I Activate My Account?</h5>
                                        <span>
                                            <button type="button" class="btn hola-eye h-open"></button>
                                            <button type="button" class="btn" (click)="isKnowledge1 = !isKnowledge1"><i class="flip">+</i><i class="flop" style="display: none;">-</i></button>
                                        </span>
                                    </div>
                                    <div class="hola-collapse-body" [collapse]="!isKnowledge1">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices, leo a vehicula ultricies, ante risus posuere ipsum, eget tristique justo nisi nec urna.</p>
                                        <span class="hola-colla-se-actions">
                                            <button type="button" class="btn hola-btn-link"><i class="fa fa-pencil"></i></button>
                                            <button type="button" class="btn hola-btn-link"><i class="fa fa-trash"></i></button>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="hola-collapse-head">
                                        <h5>How Can I Use My Remaining Account Credits?</h5>
                                        <span>
                                            <button type="button" class="btn hola-eye h-closed"></button>
                                            <button type="button" class="btn active" (click)="isKnowledge2 = !isKnowledge2"><i class="flip">+</i><i class="flop" style="display: none;">-</i></button>
                                        </span>
                                    </div>
                                    <div class="hola-collapse-body" [collapse]="isKnowledge2">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices, leo a vehicula ultricies, ante risus posuere ipsum, eget tristique justo nisi nec urna.</p>
                                        <span class="hola-colla-se-actions">
                                            <button type="button" class="btn hola-btn-link"><i class="fa fa-pencil"></i></button>
                                            <button type="button" class="btn hola-btn-link"><i class="fa fa-trash"></i></button>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="hola-collapse-head">
                                        <h5>How Can I Change My Shipping Address?</h5>
                                        <span>
                                            <button type="button" class="btn hola-eye h-closed"></button>
                                            <button type="button" class="btn" (click)="isKnowledge3 = !isKnowledge3"><i class="flip">+</i><i class="flop" style="display: none;">-</i></button>
                                        </span>
                                    </div>
                                    <div class="hola-collapse-body" [collapse]="!isKnowledge3">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices, leo a vehicula ultricies, ante risus posuere ipsum, eget tristique justo nisi nec urna.</p>
                                        <span class="hola-colla-se-actions">
                                            <button type="button" class="btn hola-btn-link"><i class="fa fa-pencil"></i></button>
                                            <button type="button" class="btn hola-btn-link"><i class="fa fa-trash"></i></button>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="hola-collapse-head">
                                        <h5>What Are The Payment Methods Available?</h5>
                                        <span>
                                            <button type="button" class="btn hola-eye h-open"></button>
                                            <button type="button" class="btn" (click)="isKnowledge4 = !isKnowledge4"><i class="flip">+</i><i class="flop" style="display: none;">-</i></button>
                                        </span>
                                    </div>
                                    <div class="hola-collapse-body" [collapse]="!isKnowledge4">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras massa elit, eleifend a cursus vitae, ullamcorper vel dui. Vestibulum nibh magna, facilisis id urna eget, pretium finibus erat. Praesent maximus ipsum sed tortor fermentum aliquam. Ut interdum dignissim lacus.</p>
                                        <span class="hola-colla-se-actions">
                                            <button type="button" class="btn hola-btn-link"><i class="fa fa-pencil"></i></button>
                                            <button type="button" class="btn hola-btn-link"><i class="fa fa-trash"></i></button>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="hola-collapse-head">
                                        <h5>What Are The Payment Methods Available?</h5>
                                        <span>
                                            <button type="button" class="btn hola-eye h-open"></button>
                                            <button type="button" class="btn" (click)="isKnowledge5 = !isKnowledge5"><i class="flip">+</i><i class="flop" style="display: none;">-</i></button>
                                        </span>
                                    </div>
                                    <div class="hola-collapse-body" [collapse]="!isKnowledge5">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras massa elit, eleifend a cursus vitae, ullamcorper vel dui. Vestibulum nibh magna, facilisis id urna eget, pretium finibus erat. Praesent maximus ipsum sed tortor fermentum aliquam. Ut interdum dignissim lacus.</p>
                                        <span class="hola-colla-se-actions">
                                            <button type="button" class="btn hola-btn-link"><i class="fa fa-pencil"></i></button>
                                            <button type="button" class="btn hola-btn-link"><i class="fa fa-trash"></i></button>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="hola-collapse-head">
                                        <h5>What Are The Payment Methods Available?</h5>
                                        <span>
                                            <button type="button" class="btn hola-eye h-open"></button>
                                            <button type="button" class="btn" (click)="isKnowledge6 = !isKnowledge6"><i class="flip">+</i><i class="flop" style="display: none;">-</i></button>
                                        </span>
                                    </div>
                                    <div class="hola-collapse-body" [collapse]="!isKnowledge6">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras massa elit, eleifend a cursus vitae, ullamcorper vel dui. Vestibulum nibh magna, facilisis id urna eget, pretium finibus erat. Praesent maximus ipsum sed tortor fermentum aliquam. Ut interdum dignissim lacus.</p>
                                        <span class="hola-colla-se-actions">
                                            <button type="button" class="btn hola-btn-link"><i class="fa fa-pencil"></i></button>
                                            <button type="button" class="btn hola-btn-link"><i class="fa fa-trash"></i></button>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="hola-collapse-head">
                                        <h5>What Are The Payment Methods Available?</h5>
                                        <span>
                                            <button type="button" class="btn hola-eye h-open"></button>
                                            <button type="button" class="btn" (click)="isKnowledge7 = !isKnowledge7"><i class="flip">+</i><i class="flop" style="display: none;">-</i></button>
                                        </span>
                                    </div>
                                    <div class="hola-collapse-body" [collapse]="!isKnowledge7">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras massa elit, eleifend a cursus vitae, ullamcorper vel dui. Vestibulum nibh magna, facilisis id urna eget, pretium finibus erat. Praesent maximus ipsum sed tortor fermentum aliquam. Ut interdum dignissim lacus.</p>
                                        <span class="hola-colla-se-actions">
                                            <button type="button" class="btn hola-btn-link"><i class="fa fa-pencil"></i></button>
                                            <button type="button" class="btn hola-btn-link"><i class="fa fa-trash"></i></button>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="hola-collapse-head">
                                        <h5>What Are The Payment Methods Available?</h5>
                                        <span>
                                            <button type="button" class="btn hola-eye h-open"></button>
                                            <button type="button" class="btn" (click)="isKnowledge8 = !isKnowledge8"><i class="flip">+</i><i class="flop" style="display: none;">-</i></button>
                                        </span>
                                    </div>
                                    <div class="hola-collapse-body" [collapse]="!isKnowledge8">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras massa elit, eleifend a cursus vitae, ullamcorper vel dui. Vestibulum nibh magna, facilisis id urna eget, pretium finibus erat. Praesent maximus ipsum sed tortor fermentum aliquam. Ut interdum dignissim lacus.</p>
                                        <span class="hola-colla-se-actions">
                                            <button type="button" class="btn hola-btn-link"><i class="fa fa-pencil"></i></button>
                                            <button type="button" class="btn hola-btn-link"><i class="fa fa-trash"></i></button>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                      </div>
                    </tab>
                    <tab heading="Small Talks">
                      <label>Coming Soon</label>
                    </tab>
                    <tab heading="Quick Actions">
                        <label>Coming Soon</label>
                    </tab>
                </tabset>
                <div class="form-group">
                    <button type="submit" class="btn btn-hola btn-hola-b btn-outline btn-pill">Save <i class="cui-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <!-- Add Custom Knowledge End -->

    </div>
</div>