<div class="hola-config-section hola-step-theme">
    <!-- Left -->
    <div class="hola-config-left">
        <div class="hola-config-titles">
            <h3>Theme</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices, leo a vehicula ultricies, ante risus posuere ipsum, eget tristique justo nisi nec urna.</p>
        </div>
        <!-- Channel Selector -->
        <ul class="hola-channel-selector hola-channel-sticky">
            <li class="active">
                <input type="checkbox" id="hola_channel_1" style="display: none;" />
                <label for="hola_channel_1"><img src="../../../../assets/img/hola/channel_1.png" />Website</label>
            </li>
            <li>
                <input type="checkbox" id="hola_channel_2" style="display: none;" />
                <label for="hola_channel_2"><img src="../../../../assets/img/hola/channel_2.png" />Facebook</label>
            </li>
            <li>
                <input type="checkbox" id="hola_channel_3" style="display: none;" />
                <label for="hola_channel_3"><img src="../../../../assets/img/hola/channel_3.png" />Alexa</label>
            </li>
            <li>
                <input type="checkbox" id="hola_channel_4" style="display: none;" />
                <label for="hola_channel_4"><img src="../../../../assets/img/hola/channel_4.png" />Slack</label>
            </li>
            <li>
                <input type="checkbox" id="hola_channel_5" style="display: none;" />
                <label for="hola_channel_5"><img src="../../../../assets/img/hola/channel_5.png" />Skype</label>
            </li>
            <li>
                <input type="checkbox" id="hola_channel_6" style="display: none;" />
                <label for="hola_channel_6"><img src="../../../../assets/img/hola/channel_6.png" />Cortana</label>
            </li>
            <li>
                <input type="checkbox" id="hola_channel_7" style="display: none;" />
                <label for="hola_channel_7"><img src="../../../../assets/img/hola/channel_7.png" />Google Home</label>
            </li>
        </ul>

        <!-- Preview Start -->
        <div class="hola-bot-preview-modal" [collapse]="!isPreview">
            <button class="btn hola-btn-close" (click)="isPreview = !isPreview"><img src="../../../../assets/img/hola/close.svg" /></button>
            <div class="hola-bot-preview-block">
                <div class="hola-bot-preview-layout">
                    <div class="hola-bot-preview-head">
                        <i class="icon-arrow-left icons"></i>
                        <label>Bot Name</label>
                        <i class="icon-options-vertical icons"></i>
                    </div>
                    <div class="hola-bot-preview-body">
                        <span class="hola-bot-timestamp">16 Jan 2017</span>
                        <div class="hola-bot-row">
                            <span class="hola-bot-outgoing">
                                <p>Suspendisse iaculis faucibus viverra. Integer accumsan iaculis volutpat. Pellentesque dignissim neque.</p>
                            </span>
                        </div>
                        <div class="hola-bot-row">
                            <img src="../../../../assets/img/hola/preview_user.png" />
                            <span class="hola-bot-incoming">
                                <p>Pellentesque dignissim neque accumsan.</p>
                            </span>
                        </div>
                    </div>
                    <div class="hola-bot-preview-footer">
                        <textarea placeholder="Write message"></textarea>
                        <button class="btn">SEND</button>
                    </div>
                </div>
                <span class="hola-box-preview-icon">
                    <img src="../../../../assets/img/hola/chat_icon1.svg" />
                </span>
            </div>
        </div>
        <!-- Preview End -->

    </div>
    <!-- Right -->
    <div class="hola-config-right">
        <div class="hola-config-contents">
            <!-- Website Start -->
            <form class="hola-form-wrap">
                <div class="form-group">
                  <label>Bot Name</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Welcome Message</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Color</label>
                    <span class="hola-color-picker-in">
                        <i class="hola-theme-color" style="background-color: #4b2d60;"></i>
                        <input type="text" class="form-control" value="#8b8b8b" />
                    </span>
                </div>
                <div class="form-group hola-icon-picker">
                    <label>Icon</label>
                    <div class="hola-icon-picker-brick">
                        <div>
                            <input type="radio" style="display: none;" class="form-control" id="hola_chat_icon1" name="hola-icon-picker" checked />
                            <label for="hola_chat_icon1"><img src="../../../../assets/img/hola/chat_icon1.svg" /></label>
                        </div>
                        <div>
                            <input type="radio" style="display: none;" class="form-control" id="hola_chat_icon2" name="hola-icon-picker" />
                            <label for="hola_chat_icon2"><img src="../../../../assets/img/hola/chat_icon2.svg" /></label>
                        </div>
                        <div>
                            <input type="radio" style="display: none;" class="form-control" id="hola_chat_icon3" name="hola-icon-picker" />
                            <label for="hola_chat_icon3"><img src="../../../../assets/img/hola/chat_icon3.svg" /></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Handover <i class="h-help-text" tooltip="Help Text Here" placement="right">?</i></label>
                    <div class="hola-handover-picker-brick">
                        <div>
                            <input type="radio" style="display: none;" class="form-control" id="hola_handover_yes" name="hola-handover-picker" />
                            <label for="hola_handover_yes" class="hola_handover_yes"><i class="fa fa-check"></i></label>
                        </div>
                        <div>
                            <input type="radio" style="display: none;" class="form-control" id="hola_handover_no" name="hola-handover-picker" />
                            <label for="hola_handover_no" class="hola_handover_no"><i class="fa fa-close"></i></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn hola-btn-link" (click)="isAdvanced = !isAdvanced">Advanced Settings</button>
                </div>
                <div class="form-group hola-submit-brick">
                    <button type="submit" class="btn btn-hola btn-hola-b btn-outline btn-pill" (click)="isPreview = !isPreview">Done <i class="cui-arrow-right"></i></button>
                    <button class="btn btn-skip">Skip default<i class="cui-arrow-right"></i></button>
                </div>
            </form>
            <!-- Website End -->

            <!-- Facebook Start -->
            <!-- <form class="hola-form-wrap">
                <div class="form-group">
                  <label>Bot Name</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Welcome Message</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Color</label>
                    <span class="hola-color-picker-in">
                        <i class="hola-theme-color" style="background-color: #4080ff;"></i>
                        <input type="text" class="form-control" id="hola_color_fb" value="#4080ff" />
                    </span>
                </div>
                <div class="form-group">
                    <label>Handover <i class="h-help-text" tooltip="Help Text Here" placement="right">?</i></label>
                    <div class="hola-handover-picker-brick">
                        <div>
                            <input type="radio" style="display: none;" class="form-control" id="hola_handover_yes_fb" name="hola-handover-picker-fb" />
                            <label for="hola_handover_yes_fb" class="hola_handover_yes"><i class="fa fa-check"></i></label>
                        </div>
                        <div>
                            <input type="radio" style="display: none;" class="form-control" id="hola_handover_no_fb" name="hola-handover-picker-fb" />
                            <label for="hola_handover_no_fb" class="hola_handover_no"><i class="fa fa-close"></i></label>
                        </div>
                    </div>
                </div>
                <div class="form-group hola-submit-brick">
                    <button type="submit" class="btn btn-hola btn-hola-b btn-outline btn-pill">Done <i class="cui-arrow-right"></i></button>
                    <button class="btn btn-skip">Skip Channel<i class="cui-arrow-right"></i></button>
                </div>
            </form> -->
            <!-- Facebook End -->

            <!-- Google Start -->
            <!-- <form class="hola-form-wrap">
                <div class="form-group">
                  <label>Bot Name <i class="h-help-text" tooltip="Help Text Here" placement="right">?</i></label>
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Invocation Name <i class="h-help-text" tooltip="Help Text Here" placement="right">?</i></label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                  <label>Short Description <i class="h-help-text" tooltip="Help Text Here" placement="right">?</i></label>
                  <textarea class="form-control hola-form-ta" rows="2"></textarea>
                </div>
                <div class="form-group">
                    <label>Full Description <i class="h-help-text" tooltip="Help Text Here" placement="right">?</i></label>
                    <textarea class="form-control hola-form-ta" rows="2"></textarea>
                  </div>
                <div class="form-group">
                    <label>Privacy Policy <i class="h-help-text" tooltip="Help Text Here" placement="right">?</i></label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Terms of Service <i class="h-help-text" tooltip="Help Text Here" placement="right">?</i></label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Upload Logo <i class="h-help-text" tooltip="Help Text Here" placement="right">?</i></label>
                    <div class="h-file-uploader">
                        <input type="file" class="form-control-file" id="google_upload_logo" style="display:none;">
                        <label for="google_upload_logo">
                            <i class="icon icon-cloud-upload"></i>
                            <p>Drop file here to upload or <em>choose file</em></p>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Upload Banner <i class="h-help-text" tooltip="Help Text Here" placement="right">?</i></label>
                    <div class="h-file-uploader">
                        <input type="file" class="form-control-file" id="google_upload_banner" style="display:none;">
                        <label for="google_upload_banner">
                            <i class="icon icon-cloud-upload"></i>
                            <p>Drop file here to upload or <em>choose file</em></p>
                        </label>
                    </div>
                </div>
                <div class="form-group hola-submit-brick">
                    <button type="submit" class="btn btn-hola btn-hola-b btn-outline btn-pill">Done <i class="cui-arrow-right"></i></button>
                    <button class="btn btn-skip">Skip Channel<i class="cui-arrow-right"></i></button>
                </div>
            </form> -->
            <!-- Google End -->

        </div>

        <!-- Advanced Settings : Website Start -->
        <div class="hola-config-contents hola-right-popin" [collapse]="!isAdvanced">
            <div class="hola-popin-header">
                <h4>Advanced Settings</h4>
                <button class="btn hola-btn-close" (click)="isAdvanced = !isAdvanced"><img src="../../../../assets/img/hola/close.svg" /></button>
            </div>
            <form class="hola-form-wrap">
                <div class="form-group">
                    <label>Invocation Interval</label>
                    <select class="form-control">
                      <option>5 sec</option>
                      <option>30 sec</option>
                      <option>60 sec</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>On / Off Time</label>
                    <select class="form-control">
                      <option>5 sec</option>
                      <option>30 sec</option>
                      <option>60 sec</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Languages</label>
                    <select class="form-control">
                      <option>English</option>
                      <option>Espanol</option>
                      <option>German</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Position</label>
                    <select class="form-control">
                      <option>Right Bottom</option>
                      <option>Left Bottom</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Template</label>
                    <select class="form-control">
                      <option>Default</option>
                      <option>Custom</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-hola btn-hola-b btn-outline btn-pill">Save <i class="cui-arrow-right"></i></button>
                </div>
            </form>
        </div>
        <!-- Advanced Settings End -->
        
    </div>
</div>