<div class="hola-config-section hola-step-basic">
    <!-- Left -->
    <div class="hola-config-left">
        <div class="hola-config-titles">
            <h3>Basic Info</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices, leo a vehicula ultricies, ante risus posuere ipsum, eget tristique justo nisi nec urna.</p>
        </div>
    </div>
    <!-- Right -->
    <div class="hola-config-right">
        <div class="hola-config-contents">
            <form class="hola-form-wrap">
                <div class="form-group">
                    <label for="hola_choose_industry">Choose Industry</label>
                    <select class="form-control" id="hola_choose_industry">
                      <option>Automotive</option>
                      <option>Medical</option>
                      <option>Real Estate</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="hola_market_place">Market Place</label>
                    <select class="form-control" id="hola_market_place">
                      <option>USA</option>
                      <option>UK</option>
                      <option>India</option>
                    </select>
                </div>
                <div class="form-group">
                  <label for="hola_organisation_name">Organisation Name</label>
                  <input type="text" class="form-control" id="hola_organisation_name" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-hola btn-hola-b btn-outline btn-pill">Next <i class="cui-arrow-right"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>