$primary_color: #4b2d61;
$secondary_color: #B43A67;
.hola-email-confirmation {
    height: 100vh;
    background-color: #f3f7f8;
    padding: 30px 15px;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background: #ddd;
    }
    &::-webkit-scrollbar-thumb {
        background: $primary_color;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: $secondary_color;
    }
    .hola-email-wrap {
        box-shadow: 0 3px 46px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        max-width: 800px;
        display: inline-block;
        vertical-align: top;
    }
    .hola-emailv-header {
        float: left;
        width: 100%;
        background-color: #925dc0;
        background-image: url("../../../../assets/img/hola/email_confirm.png");
        background-position: bottom center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100px;
    }
    .hola-emailv-body {
        float: left;
        width: 100%;
        padding: 40px 15px;
        text-align: center;
        margin-top: 15px;
        h4 {
            color: $primary_color;
            float: left;
            width: 100%;
            margin: 0 0 20px;
            font-size: 1.3rem;
            line-height: 1;
        }
        p {
            float: left;
            width: 100%;
            color: #575657;
            font-size: 0.85rem;
            line-height: 1.5;
            margin: 0;
            i {
                color: #0e94c5;
                font-style: normal;
            }
        }
    }
    .hola-form-wrap {
        display: inline-block;
        text-align: center;
        margin-top: 30px;
        max-width: 275px !important;
        .form-group {
            text-align: center;
            .btn-hola.btn-hola-b {
                float: none !important;
                margin: 0 auto;
            }
        }
        .hola-otp-field {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px !important;
            margin-top: 10px;
            .form-control {
                height: 40px !important;
                flex: 0 0 20%;
                border-radius: 0 !important;
                border-top: none !important;
                border-right: none !important;
                border-left: none !important;
                border-bottom: 1px solid #bbb !important;
                box-shadow: none !important;
                outline: none !important;
                padding: 5px !important;
                text-align: center;
                font-weight: bold;
                font-size: 1.3rem;
            }
        }
    }
    .hola-emailv-footer {
        float: left;
        width: 100%;
        padding: 20px 15px;
        text-align: center;
        p {
            color: #8d9aa2;
            display: inline-block;
            font-weight: 400;
            font-size: 0.8rem;
            margin: 0;
            line-height: 1.5;
            .fa {
                margin-left: 5px;
                transform: scale(1.1);
            }
        }
    }
}
