<div class="hola-config-section hola-email-confirmation">
    <div class="hola-email-wrap">
        <span class="hola-emailv-header"></span>
        <div class="hola-emailv-body">
            <h4>Email Confirmation</h4>
            <p>We've sent an OTP to your email <i>someone@gmail.com</i> to confirm the validity of your email address.<br />Please enter the OTP below</p>
            <form class="hola-form-wrap">
                <div class="form-group hola-otp-field">
                  <input type="text" class="form-control" />
                  <input type="text" class="form-control" />
                  <input type="text" class="form-control" />
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-hola btn-hola-b btn-outline btn-pill">Verify <i class="cui-arrow-right"></i></button>
                </div>
            </form>
        </div>
        <div class="hola-emailv-footer">
            <p>If you still don't see it, you can resend the confirmation email. <i class="fa fa-send"></i></p>
        </div>
    </div>
</div>