<div class="hola-config-section hola-step-channels">
    <!-- Left -->
    <div class="hola-config-left">
        <div class="hola-config-titles">
            <h3>Channels</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices, leo a vehicula ultricies, ante risus posuere ipsum, eget tristique justo nisi nec urna.</p>
        </div>
    </div>
    <!-- Right -->
    <div class="hola-config-right">
        <div class="hola-config-contents">
            <!-- Skip -->
            <button class="btn btn-skip">Skip <i class="cui-arrow-right"></i></button>
            <form class="hola-form-wrap">
                <div class="form-group">
                    <ul class="hola-channel-selector">
                        <li>
                            <input type="checkbox" id="hola_channel_1" style="display: none;" />
                            <label for="hola_channel_1"><img src="../../../../assets/img/hola/channel_1.png" />Website <i></i></label>
                        </li>
                        <li>
                            <input type="checkbox" id="hola_channel_2" style="display: none;" />
                            <label for="hola_channel_2"><img src="../../../../assets/img/hola/channel_2.png" />Facebook <i></i></label>
                        </li>
                        <li>
                            <input type="checkbox" id="hola_channel_3" style="display: none;" />
                            <label for="hola_channel_3"><img src="../../../../assets/img/hola/channel_3.png" />Alexa <i></i></label>
                        </li>
                        <li>
                            <input type="checkbox" id="hola_channel_4" style="display: none;" />
                            <label for="hola_channel_4"><img src="../../../../assets/img/hola/channel_4.png" />Slack <i></i></label>
                        </li>
                        <li>
                            <input type="checkbox" id="hola_channel_5" style="display: none;" />
                            <label for="hola_channel_5"><img src="../../../../assets/img/hola/channel_5.png" />Skype <i></i></label>
                        </li>
                        <li>
                            <input type="checkbox" id="hola_channel_6" style="display: none;" />
                            <label for="hola_channel_6"><img src="../../../../assets/img/hola/channel_6.png" />Cortana <i></i></label>
                        </li>
                        <li>
                            <input type="checkbox" id="hola_channel_7" style="display: none;" />
                            <label for="hola_channel_7"><img src="../../../../assets/img/hola/channel_7.png" />Google Home <i></i></label>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-hola btn-hola-b btn-outline btn-pill">Next <i class="cui-arrow-right"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>