<div class="hola-inner-page" id="hola-page-conversations">
<!--    <h2 class="hola-page-title">Conversations</h2>-->
    <div class="hola-handover-main">
        <!-- Left -->
        <div class="hola-handover-sidebar">
            <header class="hola-header">
                <input type="search" />
                <select>
                    <option>All Chats</option>
                    <option>Online</option>
                    <option>Website</option>
                    <option>Facebook</option>
                </select>
            </header>
            <div class="hola-handover-sider-scrollale">
                <ul class="hola-user-listing">
                    <li class="current">
                        <span class="h-img-avatar" (click)="isProfileSidebar = !isProfileSidebar">
                            <img src="../../../../assets/img/avatars/1.jpg" />
                            <i class="h-online"></i>
                        </span>
                        <div class="hola-chat-excerpt">
                            <div class="hola-header">
                                <h4>Allen Jorge Mack</h4>
                                <em>05 Oct, 6.55 pm</em>
                            </div>
                            <div class="hola-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra sem
                                    ullamcorper nunc fermentum.</p>
                            </div>
                            <div class="hola-footer">
                                <em>Facebook</em>
                                <span><i class="fa fa-arrow-circle-up"></i> 516</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="h-img-avatar" (click)="isProfileSidebar = !isProfileSidebar">
                            <img src="../../../../assets/img/avatars/2.jpg" />
                            <i class="h-online"></i>
                        </span>
                        <div class="hola-chat-excerpt">
                            <div class="hola-header">
                                <h4>Allen Jorge Mack</h4>
                                <em>05 Oct, 6.55 pm</em>
                            </div>
                            <div class="hola-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra sem
                                    ullamcorper nunc fermentum.</p>
                            </div>
                            <div class="hola-footer">
                                <em>Facebook</em>
                                <span><i class="fa fa-arrow-circle-up"></i> 516</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="h-img-avatar" (click)="isProfileSidebar = !isProfileSidebar">
                            <img src="../../../../assets/img/avatars/3.jpg" />
                            <!-- <i class="h-online"></i> -->
                        </span>
                        <div class="hola-chat-excerpt">
                            <div class="hola-header">
                                <h4>Allen Jorge Mack</h4>
                                <em>05 Oct, 6.55 pm</em>
                            </div>
                            <div class="hola-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra sem
                                    ullamcorper nunc fermentum.</p>
                            </div>
                            <div class="hola-footer">
                                <em>Facebook</em>
                                <span><i class="fa fa-arrow-circle-up"></i> 516</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="h-img-avatar" (click)="isProfileSidebar = !isProfileSidebar">
                            <img src="../../../../assets/img/avatars/4.jpg" />
                            <i class="h-online"></i>
                        </span>
                        <div class="hola-chat-excerpt">
                            <div class="hola-header">
                                <h4>Allen Jorge Mack</h4>
                                <em>05 Oct, 6.55 pm</em>
                            </div>
                            <div class="hola-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra sem
                                    ullamcorper nunc fermentum.</p>
                            </div>
                            <div class="hola-footer">
                                <em>Facebook</em>
                                <span><i class="fa fa-arrow-circle-up"></i> 516</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="h-img-avatar" (click)="isProfileSidebar = !isProfileSidebar">
                            <img src="../../../../assets/img/avatars/1.jpg" />
                            <i class="h-online"></i>
                        </span>
                        <div class="hola-chat-excerpt">
                            <div class="hola-header">
                                <h4>Allen Jorge Mack</h4>
                                <em>05 Oct, 6.55 pm</em>
                            </div>
                            <div class="hola-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra sem
                                    ullamcorper nunc fermentum.</p>
                            </div>
                            <div class="hola-footer">
                                <em>Facebook</em>
                                <span><i class="fa fa-arrow-circle-up"></i> 516</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="h-img-avatar" (click)="isProfileSidebar = !isProfileSidebar">
                            <img src="../../../../assets/img/avatars/6.jpg" />
                            <i class="h-online"></i>
                        </span>
                        <div class="hola-chat-excerpt">
                            <div class="hola-header">
                                <h4>Allen Jorge Mack</h4>
                                <em>05 Oct, 6.55 pm</em>
                            </div>
                            <div class="hola-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra sem
                                    ullamcorper nunc fermentum.</p>
                            </div>
                            <div class="hola-footer">
                                <em>Facebook</em>
                                <span><i class="fa fa-arrow-circle-up"></i> 516</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="h-img-avatar" (click)="isProfileSidebar = !isProfileSidebar">
                            <img src="../../../../assets/img/avatars/7.jpg" />
                            <i class="h-online"></i>
                        </span>
                        <div class="hola-chat-excerpt">
                            <div class="hola-header">
                                <h4>Allen Jorge Mack</h4>
                                <em>05 Oct, 6.55 pm</em>
                            </div>
                            <div class="hola-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra sem
                                    ullamcorper nunc fermentum.</p>
                            </div>
                            <div class="hola-footer">
                                <em>Facebook</em>
                                <span><i class="fa fa-arrow-circle-up"></i> 516</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Right -->
        <div class="hola-handover-bot-wid">
            <header class="hola-header">
                <button class="btn btn-hola btn-outline"><i class="icon-settings icon"></i> Settings</button>
                <button class="btn btn-hola btn-outline"><i class="icon-cloud-download icon"></i> Download</button>
            </header>
            <div class="hola-bot-body">
                <!-- In -->
                <div class="hola-conv-row">
                    <div class="hola-conv-in">
                        <span class="h-img-avatar">
                            <img src="../../../../assets/img/avatars/1.jpg" />
                        </span>
                        <div class="hola-conv-in-txt">
                            <h4>Allen Jorge Mack</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra sem ullamcorper
                                nunc fermentum, vitae feugiat nibh lacinia. Integer nec eros mollis, egestas turpis nec.
                            </p>
                            <em>05 Oct, 6.55 pm</em>
                        </div>
                    </div>
                </div>
                <!-- Out -->
                <div class="hola-conv-row">
                    <div class="hola-conv-out">
                        <div class="hola-conv-in-txt">
                            <span class="hola-conv-int">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                                <em>05 Oct, 6.55 pm</em>
                                <i class="h-deliv-status h-read"></i>
                            </span>
                        </div>
                        <span class="h-img-avatar">
                            <strong>H</strong>
                        </span>
                    </div>
                </div>
                 <!-- In -->
                 <div class="hola-conv-row">
                    <div class="hola-conv-in">
                        <span class="h-img-avatar">
                            <img src="../../../../assets/img/avatars/1.jpg" />
                        </span>
                        <div class="hola-conv-in-txt">
                            <h4>Allen Jorge Mack</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra sem ullamcorper
                                nunc fermentum, vitae feugiat nibh lacinia. Integer nec eros mollis, egestas turpis nec.
                            </p>
                            <em>05 Oct, 6.55 pm</em>
                        </div>
                    </div>
                </div>
                 <!-- In -->
                 <div class="hola-conv-row">
                    <div class="hola-conv-in">
                        <span class="h-img-avatar">
                            <img src="../../../../assets/img/avatars/1.jpg" />
                        </span>
                        <div class="hola-conv-in-txt">
                            <h4>Allen Jorge Mack</h4>
                            <p><img src="../../../../assets/img/avatars/home-image-1.png" /></p>
                            <em>05 Oct, 6.55 pm</em>
                        </div>
                    </div>
                </div>
                <!-- Out -->
                <div class="hola-conv-row">
                    <div class="hola-conv-out">
                        <div class="hola-conv-in-txt">
                            <span class="hola-conv-int">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <em>05 Oct, 6.55 pm</em>
                                <i class="h-deliv-status h-read"></i>
                            </span>
                        </div>
                        <span class="h-img-avatar">
                            <strong>H</strong>
                        </span>
                    </div>
                </div>
                <!-- Out -->
                <div class="hola-conv-row">
                    <div class="hola-conv-out">
                        <div class="hola-conv-in-txt">
                            <span class="hola-conv-int">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <em>05 Oct, 6.55 pm</em>
                                <i class="h-deliv-status h-sent"></i>
                            </span>
                        </div>
                        <span class="h-img-avatar">
                            <strong>H</strong>
                        </span>
                    </div>
                </div>
            </div>
            <div class="hola-handover-bot-footer">
                <div class="hola-handover-compose-left">
                    <textarea placeholder="Type your text here.."></textarea>
                    <button class="h-btn-emoji"><i class="icon icon-emotsmile"></i></button>
                    <button class="h-btn-send"><i class="fa fa-send"></i></button>
                </div>
                <div class="hola-handover-compose-right">
                    <button class="h-btn-attach"><i class="fa fa-paperclip"></i></button>
                    <button class="h-btn-image"><i class="fa fa-image"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Profile Sidebar Start -->
    <aside class="hola-profile-details" [collapse]="!isProfileSidebar">
        <header class="hola-profile-header">
            <button class="btn hola-btn-close" (click)="isProfileSidebar = !isProfileSidebar"><img src="../../../../assets/img/hola/close.svg" /></button>
            <span class="hola-profile-img">
                <img src="../../../../assets/img/avatars/5.jpg" />
            </span>
            <div class="hola-profile-info">
                <h4>Allen Jorge Mack</h4>
                <span><p><i class="icon icon-location-pin"></i>Demi Lovato,the Stars Los Angeles USA</p></span>
                <span>
                    <p><i class="icon icon-envelope"></i> info@allenjorgemerk.com</p>
                    <p><i class="icon icon-phone"></i> 1800-235-732</p>
                </span>
            </div>
        </header>
        <div class="hola-profile-stat">
            <ul>
                <li>
                    <em>Leads</em>
                    <span><i class="fa fa-arrow-circle-up"></i> 516</span>
                </li>
                <li>
                    <em>Ranking</em>
                    <strong>24</strong>
                </li>
            </ul>
        </div>
        <div class="hola-profile-channels">
            <span>Channels</span>
            <ul>
                <li><img src="../../../../assets/img/hola/channel_1.png" /></li>
                <li><img src="../../../../assets/img/hola/channel_2.png" /></li>
                <li><img src="../../../../assets/img/hola/channel_3.png" /></li>
                <li><img src="../../../../assets/img/hola/channel_4.png" /></li>
            </ul>
        </div>
        <div class="hola-profile-detailed">
            <h4>Conversation Details</h4>
            <ul>
                <li><strong>Opened</strong><em>May3, 2018 12:11 PM</em> </li>
                <li><strong>Channels</strong><em>FB, web, slack, Cortana</em></li>
                <li><strong>Brand</strong><em>www.erthsja.com</em></li>
                <li><strong>Integration</strong><em>Messenger</em></li>
                <li><strong>Conversation</strong><em>6</em></li>
                <li><strong>Lifecycle Status</strong><em>Active</em></li>
                <li><strong>Last Contacted</strong><em>1 day ago</em></li>
            </ul>
        </div>
    </aside>
    <!-- Profile Sidebar End -->

</div>