@import '../../../../scss/variables';
.hola-handover-main {
    float: left;
    width: 100%;
    display: flex;
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.03);
    background-color: #fff;
    border-radius: 15px;
}
.hola-handover-sidebar {
    float: left;
    flex: 0 0 350px;
    border-right: 1px solid #e5e5e5;
    header.hola-header {
        float: left;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e5e5e5;
        padding: 0 15px;
        select {
            color: #9a9a9a;
            font-size: 0.8rem;
            border: none;
            background-color: transparent;
            height: 30px;
            -webkit-appearance: none;
            padding-right: 15px;
            box-shadow: none !important;
            outline: none;
            cursor: pointer;
            background-image: url("../../../../assets/img/hola/chevorn_down.png");
            background-repeat: no-repeat;
            background-position: right center;
        }
        input {
            float: left;
            flex: 1 1 0px;
            margin-right: 20px;
            height: 40px;
            border: none;
            box-shadow: none !important;
            padding: 8px 5px 8px 25px;
            color: #444;
            font-size: 0.9rem;
            outline: none;
            background-color: transparent;
            background-image: url("../../../../assets/img/hola/search.png");
            background-repeat: no-repeat;
            background-position: left 1px center;
        }
    }
}
.hola-handover-sider-scrollale {
    float: left;
    width: 100%;
    height: calc(100vh - 310px);
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        background: #ddd;
    }
    &::-webkit-scrollbar-thumb {
        background: $secondary_color;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: $primary_color;
    }
    .hola-user-listing {
        float: left;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding: 20px 15px;
            float: left;
            width: 100%;
            border-bottom: 1px solid #f0f0f0;
            display: flex;
            align-items: flex-start;
            cursor: pointer;
            &:last-child {
                border-bottom: none;
            }
            &.current {
                background-color: #f2edf6;
            }
            &:hover:not(.current) {
                background-color: #fafafa;
            }
            .hola-chat-excerpt {
                flex: 1 1 0px;
                .hola-header {
                    float: left;
                    width: 100%;
                    margin-bottom: 10px;
                    h4 {
                        margin: 4px 0 8px 0;
                        float: left;
                        width: 100%;
                        color: #3b3b3b;
                        font-size: 1rem;
                        line-height: 1.1;
                        font-weight: 500;
                    }
                    em {
                        float: left;
                        width: 100%;
                        font-style: normal;
                        font-size: 0.7rem;
                        color: #9a9a9a;
                        line-height: 1;
                    }
                }
                .hola-body {
                    float: left;
                    width: 100%;
                    margin-bottom: 10px;
                    p {
                        float: left;
                        width: 100%;
                        margin: 0;
                        color: #7d7d7d;
                        font-size: 0.8rem;
                        line-height: 1.4;
                        height: 2.3rem;
                        overflow: hidden;
                    }
                }
                .hola-footer {
                    float: left;
                    width: 100%;
                    em {
                        color: #505050;
                        float: left;
                        margin-right: 10px;
                        font-style: normal;
                        font-size: 0.8rem;
                        line-height: 1.2;
                    }
                    span {
                        float: left;
                        color: #005826;
                        font-size: 0.8rem;
                        line-height: 1.2;
                        font-weight: 500;
                        i {
                            color: #005826;
                        }
                    }
                }
            }
        }
    }
}
.h-img-avatar {
    flex: 0 0 45px;
    height: 45px;
    margin-right: 10px;
    position: relative;
    border-radius: 50%;
    background-color: $primary_color;
    display: flex;
    width: 45px;
    align-items: center;
    justify-content: center;
    strong {
        color: #fff;
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1;
        opacity: 0.95;
    }
    img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: top;
        position: relative;
    }
    .h-online {
        background-color: #00a651;
        position: absolute;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        bottom: 0;
        right: 0;
        border: 2px solid #fff;
    }
}
.hola-handover-bot-wid {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    header.hola-header {
        float: left;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-bottom: 1px solid #e5e5e5;
        padding: 0 15px;
        .btn {
            line-height: 1;
            height: 32px;
            padding: 0 10px;
            font-size: 0.85rem;
            & + .btn {
                margin-left: 15px;
            }
        }
    }
    .hola-handover-bot-footer {
        float: left;
        width: 100%;
        background-color: #e2e2e2;
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 85px;
    }
    .hola-bot-body {
        flex: 1 1 0px;
        padding: 15px 15px 25px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background: #ddd;
        }
        &::-webkit-scrollbar-thumb {
            background: #bbb;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #777;
        }
        .hola-conv-row {
            float: left;
            width: 100%;
            position: relative;
            & + .hola-conv-row {
                margin-top: 25px;
            }
            .hola-conv-in-txt img {
                max-width: 250px;
                width: 100%;
            }
        }
        .hola-conv-in {
            float: left;
            width: 100%;
            padding-right: 100px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            .hola-conv-in-txt {
                float: left;
                flex: 1 1 0px;
                h4 {
                    float: left;
                    clear: both;
                    font-size: 0.9rem;
                    font-weight: 500;
                    margin: 5px 0 5px;
                    line-height: 1.1;
                }
                p {
                    float: left;
                    clear: both;
                    font-size: 0.85rem;
                    margin: 0;
                    color: #7d7d7d;
                    line-height: 1.4;
                }
                em {
                    color: #9a9a9a;
                    font-family: Lato;
                    font-size: 0.75rem;
                    font-style: italic;
                    float: left;
                    clear: both;
                    margin: 8px 0 0;
                }
            }
        }
        .hola-conv-out {
            float: left;
            width: 100%;
            padding-left: 100px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            .h-img-avatar {
                margin-right: 0;
                margin-left: 10px;
            }
            .hola-conv-int {
                float: right;
                background-color: #a886c0;
                border-radius: 10px 2px 10px 10px;
                padding: 10px;
            }
            .hola-conv-in-txt {
                float: left;
                flex: 1 1 0px;
                p {
                    float: left;
                    clear: both;
                    font-size: 0.85rem;
                    margin: 0;
                    color: #fff;
                    line-height: 1.4;
                }
                em {
                    color: #eee;
                    font-family: Lato;
                    font-size: 0.75rem;
                    font-style: italic;
                    float: left;
                    clear: left;
                    margin: 8px 0 0;
                }
                .h-deliv-status {
                    margin: 8px 0 0;
                    float: right;
                    position: relative;
                    height: 18px;
                    width: 18px;
                    &:before,
                    &:after {
                        content: "";
                        background-image: url("../../../../assets/img/hola/tick.svg");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        width: 14px;
                        height: 10px;
                        display: none;
                    }
                    &:before {
                        left: 0;
                    }
                    &:after {
                        right: 0;
                    }
                    &.h-read {
                        &:before,
                        &:after {
                            display: block;
                        }
                    }
                    &.h-sent {
                        &:before {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
.hola-handover-compose-left {
    float: left;
    flex: 1 1 0px;
    position: relative;
    padding: 10px 50px;
    border: 1px solid #dadada;
    background-color: #ffffff;
    border-radius: 10px;
    button {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: transparent;
        border: none;
        box-shadow: none !important;
        outline: none;
        color: #b5b4b4;
    }
    textarea {
        float: left;
        width: 100%;
        border: none;
        background-color: #ffffff;
        border-radius: 0;
        resize: none;
        position: relative;
        height: 45px;
        font-family: sans-serif;
        font-size: 0.85rem;
        box-shadow: none !important;
        outline: none;
        padding: 0;
        line-height: 1.2;
    }
    .h-btn-emoji {
        left: 5px;
        width: 40px;
        font-size: 1.2rem;
    }
    .h-btn-send {
        right: 0;
        width: 50px;
        font-size: 1.3rem;
    }
}
.hola-handover-compose-right {
    float: right;
    padding-left: 15px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
        color: #919191;
        width: 40px;
        height: 40px;
        border: none;
        padding: 0;
        background: no-repeat;
        font-size: 1.4rem;
        box-shadow: none !important;
        outline: none;
    }
}
.hola-profile-details {
    position: fixed;
    top: 55px;
    right: 0;
    width: 350px;
    bottom: 0;
    overflow-y: auto;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0 3px 46px rgba(0, 0, 0, 0.1);
    display: none;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        background: #ddd;
    }
    &::-webkit-scrollbar-thumb {
        background: #bbb;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #777;
    }
    .hola-profile-header {
        background-color: #a886c0;
        float: left;
        width: 100%;
        position: relative;
        padding: 60px 15px 15px 15px;
        text-align: center;
    }
    .hola-btn-close {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 30px;
        padding: 4px;
        border: none;
        height: 30px;
        line-height: 1;
        box-shadow: none !important;
        outline: none;
        z-index: 1;
        img {
            width: 100%;
        }
    }
    .hola-profile-img {
        float: left;
        width: 100%;
        text-align: center;
        margin: 0 0 10px 0;
        img {
            width: 120px;
            height: 120px;
            object-fit: cover;
            object-position: center;
            border: 4px solid rgba(2, 2, 2, 0.1607843137254902);
            border-radius: 50%;
        }
    }
    .hola-profile-info {
        float: left;
        width: 100%;
        margin-top: 5px;
        h4 {
            float: left;
            width: 100%;
            color: #ffffff;
            font-size: 1.1rem;
            margin: 0 0 5px;
            line-height: 1;
            font-weight: 500;
        }
        span {
            float: left;
            width: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            p {
                flex: 1 1 0px;
                color: #FFF;
                padding: 0 10px;
                margin: 5px 0 0;
                font-size: 0.7rem;
                word-break: break-word;
                i{
                    margin-right: 4px;
                }
            }
        }
    }
    .hola-profile-stat {
        float: left;
        width: 100%;
        border-bottom: 1px solid #e1e1e1;
        background-color: #FFF;
        ul{
            float: left;
            width: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            li{
                flex: 1 1 0px;
                border-right: 1px solid #e1e1e1;
                &:last-child{
                    border-right: none;
                }
                display: flex;
                align-items: center;
                justify-content: center;
                height: 45px;
                padding: 5px 10px;
                em{
                    font-style: normal;
                    color: #656565;
                    text-transform: uppercase;
                    font-size: 0.9rem;
                    line-height: 1;                
                }
                span{
                    font-size: 0.9rem;
                    color: #005826;
                    font-weight: 500;
                    margin-left: 12px;
                    line-height: 1;
                }
                strong{
                    color: #464646;
                    font-size: 0.9rem;
                    font-weight: 500;
                    margin-left: 12px;
                    line-height: 1;
                }
            }
        }
    }
    .hola-profile-channels {
        float: left;
        width: 100%;
        padding: 10px 15px;
        display: flex;
        align-items: flex-start;
        background-color: #f2f2f2;
        span{
            color: #656565;
            font-size: 0.8rem;
            line-height: 1;
            margin: 9px 15px 0 0;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex: 1 1 0px;
            align-items: center;
            flex-wrap: wrap;
        }
        li{
            margin-right: 15px;
            margin-bottom: 5px;
            margin-top: 5px;
            img{
                width: 20px;
                height: auto;
            }
        }
    }
    .hola-profile-detailed {
        float: left;
        width: calc(100% - 30px);
        box-shadow: 0 3px 46px rgba(0, 0, 0, 0.1);
        background-color: #FFF;
        margin: 15px;
        h4{
            border-bottom: 1px solid #e1e1e1;
            float: left;
            width: 100%;
            font-size: 0.9rem;
            padding: 13px 15px;
            line-height: 1;
        }
        ul {
            float: left;
            width: 100%;
            padding: 0;
            margin: 5px 0 15px;
            list-style: none;
            li{
                float: left;
                width: 100%;
                display: flex;
                justify-content: space-between;
                color: #595959;
                font-size: 0.75rem;
                padding: 5px 15px;
                strong{
                    padding-right: 10px;
                    font-weight: 500;
                }
                em{
                    font-style: normal;
                }
            }
        }
    }
}
