@import "../../../scss/variables";
// Row 1
.hola-dash-row1 {
    align-items: center;
    margin-bottom: 25px;
    h3 {
        margin: 0;
        float: left;
        font-size: 1.4rem;
        line-height: 1.2;
        color: $primary_color;
    }
    .btn-hola {
        line-height: 1;
        height: 32px;
        padding: 0 10px;
        font-size: 0.85rem;
        i {
            margin-right: 2px;
        }
    }
}
// Row 2
.hola-dash-row2 {
    .card {
        border: none;
        box-shadow: 0 3px 26px 5px rgba(0, 0, 0, 0.04);
        border-radius: 10px;
    }
    .card-header {
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        padding-bottom: 0;
        h4 {
            color: #6c757d;
            font-weight: 300;
            font-size: 1rem;
            margin: 0;
        }
        i {
            background-color: #d5cddb;
            color: #725a82;
            width: 30px;
            height: 30px;
            border-radius: 3px;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.85rem;
        }
    }
    .card-body {
        padding-top: 1rem;
        padding-bottom: 1rem;
        .text-value {
            font-weight: 400;
            color: #6c757d;
            font-size: 1.4rem;
        }
    }
    .card-footer {
        border: none;
        background-color: transparent;
        padding-top: 0;
        color: #6c757d;
        font-size: 0.8rem;
        span {
            padding-right: 5px;
            font-weight: 500;
            &.h-green{
                color: #068b2c;
            }
            &.h-red{
                color: #bc0000;
            }
        }
        em {
            font-style: normal;
        }
    }
}
// Row 3
.hola-dash-row3{
    .card{
        box-shadow: 0 3px 26px 5px rgba(0, 0, 0, 0.04);
        border-radius: 10px;
        background-color: #ffffff;
        border: none;
        .card-header {
            background-color: transparent;
        }
        .card-footer {
            background-color: transparent;
        }
        min-height: calc(100% -  1.5rem);
        .btn-icon {
            padding: 0;
            width: 25px;
            height: 25px;
            border: none;
            box-shadow: none;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #6c757d;
            font-size: 1rem;
        }
        .card-title {
            color: #6c757d;
            font-weight: 400;
            font-size: 1.1rem;
            line-height: 1.35;
        }
    }
}
