<div class="animated fadeIn" id="hola-landing-page">
  <div class="hola-landing-outer">
    <div class="hola-landing-insider">
      <div class="container">
        <div class="row h-top">
          <div class="col-sm-12 col-md-12 col-lg-4 hola-land-top-left">
            <img src="../../../assets/img/hola/logo.png" alt="" />
          </div>
          <div class="col-sm-12 col-md-12 col-lg-8 hola-land-top-right">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-login" [routerLink]="['/login']">Login <i class="cui-arrow-right"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row h-bottom">
          <div class="col-sm-12 col-md-12 col-lg-6 hola-land-bot-left">
            <h2>Build chat bots <strong>with ease</strong></h2>
            <p>Help your users connect with each other like never before. <br>No programming required.</p>
            <button type="button" [routerLink]="['/signup']" class="btn btn-pill btn-hola">Signup</button>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 hola-land-bot-right">
            <img src="../../../assets/img/hola/landing_bg.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>