<div class="hola-inner-page animated fadeIn" id="hola-page-integration">
    <header class="hola-inner-header">
        <h2 class="hola-page-title">Integration</h2>
    </header>
    <section class="hola-list-page-wrap">
        <header class="hola-header">
            <input type="search" />
            <select>
                <option>All Chats</option>
                <option>Online</option>
                <option>Website</option>
                <option>Facebook</option>
            </select>
        </header>
        <div class="h-integration-list">
            <ul>
                <li>
                    <input type="checkbox" style="display:none" id="inegration_1" />
                    <label class="card" for="inegration_1">
                        <span class="card-header">
                            <i class="fa fa-check-square-o"></i>
                        </span>
                        <span class="card-body">
                            <img src="../../../../assets/img/hola/int_1.png" />
                            <strong>Sasu</strong>
                        </span>
                        <span class="card-footer">
                            <p>Suspendisse consectetur gravida porta. Morbi mi metus,</p>
                        </span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" style="display:none" id="inegration_2" />
                    <label class="card" for="inegration_2">
                        <span class="card-header">
                            <i class="fa fa-check-square-o"></i>
                        </span>
                        <span class="card-body">
                            <img src="../../../../assets/img/hola/int_2.png" />
                            <strong>Facebook</strong>
                        </span>
                        <span class="card-footer">
                            <p>Suspendisse consectetur gravida porta. Morbi mi metus,</p>
                        </span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" style="display:none" id="inegration_3" checked />
                    <label class="card" for="inegration_3">
                        <span class="card-header">
                            <i class="fa fa-check-square-o"></i>
                        </span>
                        <span class="card-body">
                            <img src="../../../../assets/img/hola/int_3.png" />
                            <strong>Evernote</strong>
                        </span>
                        <span class="card-footer">
                            <p>Suspendisse consectetur gravida porta. Morbi mi metus,</p>
                        </span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" style="display:none" id="inegration_4" />
                    <label class="card" for="inegration_4">
                        <span class="card-header">
                            <i class="fa fa-check-square-o"></i>
                        </span>
                        <span class="card-body">
                            <img src="../../../../assets/img/hola/int_4.png" />
                            <strong>Twitter</strong>
                        </span>
                        <span class="card-footer">
                            <p>Suspendisse consectetur gravida porta. Morbi mi metus,</p>
                        </span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" style="display:none" id="inegration_5" />
                    <label class="card" for="inegration_5">
                        <span class="card-header">
                            <i class="fa fa-check-square-o"></i>
                        </span>
                        <span class="card-body">
                            <img src="../../../../assets/img/hola/int_5.png" />
                            <strong>Instagram</strong>
                        </span>
                        <span class="card-footer">
                            <p>Suspendisse consectetur gravida porta. Morbi mi metus,</p>
                        </span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" style="display:none" id="inegration_6" />
                    <label class="card" for="inegration_6">
                        <span class="card-header">
                            <i class="fa fa-check-square-o"></i>
                        </span>
                        <span class="card-body">
                            <img src="../../../../assets/img/hola/int_6.png" />
                            <strong>Google Drive</strong>
                        </span>
                        <span class="card-footer">
                            <p>Suspendisse consectetur gravida porta. Morbi mi metus,</p>
                        </span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" style="display:none" id="inegration_7" />
                    <label class="card" for="inegration_7">
                        <span class="card-header">
                            <i class="fa fa-check-square-o"></i>
                        </span>
                        <span class="card-body">
                            <img src="../../../../assets/img/hola/int_7.png" />
                            <strong>Wordpress</strong>
                        </span>
                        <span class="card-footer">
                            <p>Suspendisse consectetur gravida porta. Morbi mi metus,</p>
                        </span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" style="display:none" id="inegration_8" />
                    <label class="card" for="inegration_8">
                        <span class="card-header">
                            <i class="fa fa-check-square-o"></i>
                        </span>
                        <span class="card-body">
                            <img src="../../../../assets/img/hola/int_8.png" />
                            <strong>Slack</strong>
                        </span>
                        <span class="card-footer">
                            <p>Suspendisse consectetur gravida porta. Morbi mi metus,</p>
                        </span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" style="display:none" id="inegration_9" />
                    <label class="card" for="inegration_8">
                        <span class="card-header">
                            <i class="fa fa-check-square-o"></i>
                        </span>
                        <span class="card-body">
                            <img src="../../../../assets/img/hola/int_9.png" />
                            <strong>Jotform</strong>
                        </span>
                        <span class="card-footer">
                            <p>Suspendisse consectetur gravida porta. Morbi mi metus,</p>
                        </span>
                    </label>
                </li>



                <li>
                    <input type="checkbox" style="display:none" id="inegration_10" />
                    <label class="card" for="inegration_10">
                        <span class="card-header">
                            <i class="fa fa-check-square-o"></i>
                        </span>
                        <span class="card-body">
                            <img src="../../../../assets/img/hola/int_1.png" />
                            <strong>Sasu</strong>
                        </span>
                        <span class="card-footer">
                            <p>Suspendisse consectetur gravida porta. Morbi mi metus,</p>
                        </span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" style="display:none" id="inegration_11" />
                    <label class="card" for="inegration_11">
                        <span class="card-header">
                            <i class="fa fa-check-square-o"></i>
                        </span>
                        <span class="card-body">
                            <img src="../../../../assets/img/hola/int_2.png" />
                            <strong>Facebook</strong>
                        </span>
                        <span class="card-footer">
                            <p>Suspendisse consectetur gravida porta. Morbi mi metus,</p>
                        </span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" style="display:none" id="inegration_12" checked />
                    <label class="card" for="inegration_12">
                        <span class="card-header">
                            <i class="fa fa-check-square-o"></i>
                        </span>
                        <span class="card-body">
                            <img src="../../../../assets/img/hola/int_3.png" />
                            <strong>Evernote</strong>
                        </span>
                        <span class="card-footer">
                            <p>Suspendisse consectetur gravida porta. Morbi mi metus,</p>
                        </span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" style="display:none" id="inegration_13" />
                    <label class="card" for="inegration_13">
                        <span class="card-header">
                            <i class="fa fa-check-square-o"></i>
                        </span>
                        <span class="card-body">
                            <img src="../../../../assets/img/hola/int_4.png" />
                            <strong>Twitter</strong>
                        </span>
                        <span class="card-footer">
                            <p>Suspendisse consectetur gravida porta. Morbi mi metus,</p>
                        </span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" style="display:none" id="inegration_14" />
                    <label class="card" for="inegration_14">
                        <span class="card-header">
                            <i class="fa fa-check-square-o"></i>
                        </span>
                        <span class="card-body">
                            <img src="../../../../assets/img/hola/int_5.png" />
                            <strong>Instagram</strong>
                        </span>
                        <span class="card-footer">
                            <p>Suspendisse consectetur gravida porta. Morbi mi metus,</p>
                        </span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" style="display:none" id="inegration_15" />
                    <label class="card" for="inegration_15">
                        <span class="card-header">
                            <i class="fa fa-check-square-o"></i>
                        </span>
                        <span class="card-body">
                            <img src="../../../../assets/img/hola/int_6.png" />
                            <strong>Google Drive</strong>
                        </span>
                        <span class="card-footer">
                            <p>Suspendisse consectetur gravida porta. Morbi mi metus,</p>
                        </span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" style="display:none" id="inegration_17" />
                    <label class="card" for="inegration_17">
                        <span class="card-header">
                            <i class="fa fa-check-square-o"></i>
                        </span>
                        <span class="card-body">
                            <img src="../../../../assets/img/hola/int_7.png" />
                            <strong>Wordpress</strong>
                        </span>
                        <span class="card-footer">
                            <p>Suspendisse consectetur gravida porta. Morbi mi metus,</p>
                        </span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" style="display:none" id="inegration_18" />
                    <label class="card" for="inegration_18">
                        <span class="card-header">
                            <i class="fa fa-check-square-o"></i>
                        </span>
                        <span class="card-body">
                            <img src="../../../../assets/img/hola/int_8.png" />
                            <strong>Slack</strong>
                        </span>
                        <span class="card-footer">
                            <p>Suspendisse consectetur gravida porta. Morbi mi metus,</p>
                        </span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" style="display:none" id="inegration_19" />
                    <label class="card" for="inegration_19">
                        <span class="card-header">
                            <i class="fa fa-check-square-o"></i>
                        </span>
                        <span class="card-body">
                            <img src="../../../../assets/img/hola/int_9.png" />
                            <strong>Jotform</strong>
                        </span>
                        <span class="card-footer">
                            <p>Suspendisse consectetur gravida porta. Morbi mi metus,</p>
                        </span>
                    </label>
                </li>
                <li>
                    <input type="checkbox" style="display:none" id="inegration_20" />
                    <label class="card" for="inegration_20">
                        <span class="card-header">
                            <i class="fa fa-check-square-o"></i>
                        </span>
                        <span class="card-body">
                            <img src="../../../../assets/img/hola/int_2.png" />
                            <strong>Facebook</strong>
                        </span>
                        <span class="card-footer">
                            <p>Suspendisse consectetur gravida porta. Morbi mi metus,</p>
                        </span>
                    </label>
                </li>
            </ul>
        </div>
    </section>
</div>