@import '../../../../scss/variables';
#hola-page-integration {
    header.hola-header {
        float: left;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e5e5e5;
        padding: 0 15px;
        select {
            color: #9a9a9a;
            font-size: 0.8rem;
            border: none;
            background-color: transparent;
            height: 30px;
            -webkit-appearance: none;
            padding-right: 15px;
            box-shadow: none !important;
            outline: none;
            cursor: pointer;
            background-image: url("../../../../assets/img/hola/chevorn_down.png");
            background-repeat: no-repeat;
            background-position: right center;
        }
        input {
            float: left;
            flex: 1 1 0px;
            margin-right: 20px;
            height: 40px;
            border: none;
            box-shadow: none !important;
            padding: 8px 5px 8px 25px;
            color: #444;
            font-size: 0.9rem;
            outline: none;
            background-color: transparent;
            background-image: url("../../../../assets/img/hola/search.png");
            background-repeat: no-repeat;
            background-position: left 1px center;
        }
    }
    .h-integration-list {
        float: left;
        width: 100%;
        padding: 15px;
    }
    ul{
        float: left;
        width: 100%;
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
        li{
            padding: 15px;
            input[type="checkbox"]{
                display: none;
                &:checked{
                    &+{
                        .card{
                            .card-header{
                                i{
                                    color: green;
                                }
                            }
                        }
                    }
                }
            }
            .card{
                border: none;
                box-shadow: 0 3px 46px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                background-color: #ffffff;
                float: left;
                width: 100%;
                max-width: 230px;
                margin: 0;
                height: 100%;
                text-align: center;
                cursor: pointer;
                &:hover{
                    opacity: 0.8;
                }
                .card-header{
                    padding: 1rem 1rem 0;
                    border: none;
                    background-color: transparent;
                    text-align: right;
                    float: left;
                    width: 100%;
                    i{
                        margin: 0;
                        font-size: 1.2rem;
                        color: #cdcdcd;
                    }
                }
                .card-body{
                    float: left;
                    width: 100%;
                    padding: 0.8rem 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    img{
                        width: 32px;
                        height: 32px;
                        object-fit: scale-down;
                        object-position: center;
                    }
                    strong{
                        color: #414141;
                        display: inline-block;
                        width: 100%;
                        margin-top: 10px;
                        font-size: 0.9rem;
                        font-weight: 500;
                    }
                }
                .card-footer{
                    float: left;
                    width: 100%;
                    padding: 0 1rem 1rem;
                    border: none;
                    background-color: transparent;
                    p{
                        float: left;
                        color: #787878;
                        width: 100%;
                        margin: 0;
                        font-size: 0.8rem;
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}
