<div class="hola-config-section hola-step-configuration">
    <!-- Left -->
    <div class="hola-config-left">
        <div class="hola-config-titles">
            <h3>Configure</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices, leo a vehicula ultricies, ante risus posuere ipsum, eget tristique justo nisi nec urna.</p>
        </div>
        <!-- Channel Selector -->
        <ul class="hola-channel-selector hola-channel-sticky">
            <li class="active">
                <input type="checkbox" id="hola_channel_1" style="display: none;" />
                <label for="hola_channel_1"><img src="../../../../assets/img/hola/channel_1.png" />Website</label>
            </li>
            <li>
                <input type="checkbox" id="hola_channel_2" style="display: none;" />
                <label for="hola_channel_2"><img src="../../../../assets/img/hola/channel_2.png" />Facebook</label>
            </li>
            <li>
                <input type="checkbox" id="hola_channel_8" style="display: none;" />
                <label for="hola_channel_8"><img src="../../../../assets/img/hola/channel_8.png" />Email</label>
            </li>
            <li>
                <input type="checkbox" id="hola_channel_3" style="display: none;" />
                <label for="hola_channel_3"><img src="../../../../assets/img/hola/channel_3.png" />Alexa</label>
            </li>
            <li>
                <input type="checkbox" id="hola_channel_4" style="display: none;" />
                <label for="hola_channel_4"><img src="../../../../assets/img/hola/channel_4.png" />Slack</label>
            </li>
            <li>
                <input type="checkbox" id="hola_channel_5" style="display: none;" />
                <label for="hola_channel_5"><img src="../../../../assets/img/hola/channel_5.png" />Skype</label>
            </li>
            <li>
                <input type="checkbox" id="hola_channel_6" style="display: none;" />
                <label for="hola_channel_6"><img src="../../../../assets/img/hola/channel_6.png" />Cortana</label>
            </li>
            <li>
                <input type="checkbox" id="hola_channel_7" style="display: none;" />
                <label for="hola_channel_7"><img src="../../../../assets/img/hola/channel_7.png" />Google Home</label>
            </li>
        </ul>
    </div>
    <!-- Right -->
    <div class="hola-config-right">
        <div class="hola-config-contents">

            <!-- Website Config Start -->
            <form class="hola-form-wrap">
                <div class="form-group">
                  <label>Enter URL</label>
                  <input type="text" class="form-control" placeholder="Eg: www.google.com" />
                  <button type="submit" class="btn btn-hola btn-sm btn-pill btn-alt1">Verify</button>
                </div>
                <div class="form-group">
                    <label>Snippet</label>
                    <div class="hola-bot-snippet">
                        <span class="hola-snippet-btns">
                            <button type="button" class="btn btn-hola btn-sm btn-outline btn-alt2"><i class="fa fa-share-alt"></i></button>
                            <button type="button" class="btn btn-hola btn-sm btn-outline">Copy Code</button>
                        </span>
                        <textarea class="form-control" onclick="this.focus();this.select()" readonly="readonly">https://accounts.google.com/ServiceLogin?service=wise&passive=1209600&continue=https://drive.google.com/drive/folders/1oHwawe7weKlUFZWlSBmlI8pjI2lFVTea?usp%3Dsharing&followup=https://drive.google.com/drive/folders/1oHwawe7</textarea>
                    </div>
                </div>
                <div class="form-group hola-snippet-help">
                    <label>Paste the code below before the  &lt; /head&gt; tag on every page you want Hola to appear.For more detailed help, <a href="javascript:void(0);">Click here</a>.</label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-hola btn-hola-b btn-outline btn-pill">Done <i class="cui-arrow-right"></i></button>
                </div>
            </form>
            <!-- Website Config End -->


            <!-- FB Intro Start -->
            <!-- <div class="hola-form-wrap hola-fb-into">
                <div class="form-group">
                    <img src="../../../../assets/img/hola/fb_config.png" />
                </div>
                <div class="form-group">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut arcu risus, scelerisque sed lectus vitae,Morbi tincidunt nibh lectus, a egestas metus accumsan et.</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-hola btn-hola-b btn-outline btn-pill">Connect Facebook <i class="cui-arrow-right"></i></button>
                </div>
            </div> -->
            <!-- FB Intro End -->


            <!-- Facebook Pages Config Start -->
            <!-- <form class="hola-form-wrap hola-fb-list">
                <h4>Your Facebook Pages</h4>
                <ul class="h-fb-page-list">
                    <li>
                        <span class="h-left">
                            <input type="checkbox" id="fb_page_1" style="display: none;" checked />
                            <label for="fb_page_1">Ammina Toyota</label>
                        </span>
                        <span class="h-right">
                            <input type="checkbox" id="fb_page_link_1" style="display: none;" checked />
                            <label for="fb_page_link_1"><i class="icon icon-link"></i> Bot Linked</label>
                        </span>
                    </li>
                    <li>
                        <span class="h-left">
                            <input type="checkbox" id="fb_page_2" style="display: none;" />
                            <label for="fb_page_2">GoGoCar</label>
                        </span>
                        <span class="h-right">
                            <input type="checkbox" id="fb_page_link_2" style="display: none;" />
                            <label for="fb_page_link_2"><i class="icon icon-link"></i> Link My Bot</label>
                        </span>
                    </li>
                    <li>
                        <span class="h-left">
                            <input type="checkbox" id="fb_page_3" style="display: none;" />
                            <label for="fb_page_3">Vival Cars</label>
                        </span>
                        <span class="h-right">
                            <input type="checkbox" id="fb_page_link_3" style="display: none;" />
                            <label for="fb_page_link_3"><i class="icon icon-link"></i> Link My Bot</label>
                        </span>
                    </li>
                    <li>
                        <span class="h-left">
                            <input type="checkbox" id="fb_page_4" style="display: none;" checked />
                            <label for="fb_page_4">Nippon Toyota</label>
                        </span>
                        <span class="h-right">
                            <input type="checkbox" id="fb_page_link_4" style="display: none;" checked />
                            <label for="fb_page_link_4"><i class="icon icon-link"></i> Bot Linked</label>
                        </span>
                    </li>
                    <li>
                        <span class="h-left">
                            <input type="checkbox" id="fb_page_5" style="display: none;" />
                            <label for="fb_page_5">Camery GGA</label>
                        </span>
                        <span class="h-right">
                            <input type="checkbox" id="fb_page_link_5" style="display: none;" />
                            <label for="fb_page_link_5"><i class="icon icon-link"></i> Link My Bot</label>
                        </span>
                    </li>
                    <li>
                        <span class="h-left">
                            <input type="checkbox" id="fb_page_6" style="display: none;" />
                            <label for="fb_page_6">Samsonot</label>
                        </span>
                        <span class="h-right">
                            <input type="checkbox" id="fb_page_link_6" style="display: none;" />
                            <label for="fb_page_link_6"><i class="icon icon-link"></i> Link My Bot</label>
                        </span>
                    </li>
                    <li>
                        <span class="h-left">
                            <input type="checkbox" id="fb_page_7" style="display: none;" />
                            <label for="fb_page_7">Belkin</label>
                        </span>
                        <span class="h-right">
                            <input type="checkbox" id="fb_page_link_7" style="display: none;" />
                            <label for="fb_page_link_7"><i class="icon icon-link"></i> Link My Bot</label>
                        </span>
                    </li>
                    <li>
                        <span class="h-left">
                            <input type="checkbox" id="fb_page_8" style="display: none;" checked />
                            <label for="fb_page_8">Ammina Toyota</label>
                        </span>
                        <span class="h-right">
                            <input type="checkbox" id="fb_page_link_8" style="display: none;" checked />
                            <label for="fb_page_link_8"><i class="icon icon-link"></i> Bot Linked</label>
                        </span>
                    </li>
                    <li>
                        <span class="h-left">
                            <input type="checkbox" id="fb_page_9" style="display: none;" />
                            <label for="fb_page_9">GoGoCar</label>
                        </span>
                        <span class="h-right">
                            <input type="checkbox" id="fb_page_link_9" style="display: none;" />
                            <label for="fb_page_link_9"><i class="icon icon-link"></i> Link My Bot</label>
                        </span>
                    </li>
                    <li>
                        <span class="h-left">
                            <input type="checkbox" id="fb_page_10" style="display: none;" />
                            <label for="fb_page_10">Vival Cars</label>
                        </span>
                        <span class="h-right">
                            <input type="checkbox" id="fb_page_link_10" style="display: none;" />
                            <label for="fb_page_link_10"><i class="icon icon-link"></i> Link My Bot</label>
                        </span>
                    </li>
                    <li>
                        <span class="h-left">
                            <input type="checkbox" id="fb_page_11" style="display: none;" />
                            <label for="fb_page_11">Belkin</label>
                        </span>
                        <span class="h-right">
                            <input type="checkbox" id="fb_page_link_11" style="display: none;" />
                            <label for="fb_page_link_11"><i class="icon icon-link"></i> Link My Bot</label>
                        </span>
                    </li>
                    <li>
                        <span class="h-left">
                            <input type="checkbox" id="fb_page_12" style="display: none;" checked />
                            <label for="fb_page_12">Ammina Toyota</label>
                        </span>
                        <span class="h-right">
                            <input type="checkbox" id="fb_page_link_12" style="display: none;" checked />
                            <label for="fb_page_link_12"><i class="icon icon-link"></i> Bot Linked</label>
                        </span>
                    </li>
                    <li>
                        <span class="h-left">
                            <input type="checkbox" id="fb_page_13" style="display: none;" />
                            <label for="fb_page_13">GoGoCar</label>
                        </span>
                        <span class="h-right">
                            <input type="checkbox" id="fb_page_link_13" style="display: none;" />
                            <label for="fb_page_link_13"><i class="icon icon-link"></i> Link My Bot</label>
                        </span>
                    </li>
                    <li>
                        <span class="h-left">
                            <input type="checkbox" id="fb_page_14" style="display: none;" />
                            <label for="fb_page_14">Vival Cars</label>
                        </span>
                        <span class="h-right">
                            <input type="checkbox" id="fb_page_link_14" style="display: none;" />
                            <label for="fb_page_link_14"><i class="icon icon-link"></i> Link My Bot</label>
                        </span>
                    </li>
                    <li>
                        <span class="h-left">
                            <input type="checkbox" id="fb_page_15" style="display: none;" />
                            <label for="fb_page_15">Belkin</label>
                        </span>
                        <span class="h-right">
                            <input type="checkbox" id="fb_page_link_15" style="display: none;" />
                            <label for="fb_page_link_15"><i class="icon icon-link"></i> Link My Bot</label>
                        </span>
                    </li>
                </ul>
                <div class="form-group">
                    <button type="submit" class="btn btn-hola btn-hola-b btn-outline btn-pill">Next <i class="cui-arrow-right"></i></button>
                </div>
            </form> -->
            <!-- Facebook Pages Config End -->


            <!-- Google Intro Start -->
            <!-- <div class="hola-form-wrap hola-google-into">
                <div class="form-group">
                    <img src="../../../../assets/img/hola/google_config.png" />
                </div>
                <div class="form-group">
                    <h4>Brend agent submitted for review</h4>
                    <p>Your brend agent has been submitted for review and google will be evaluating according to the Google <a href="javascript:void(0);">guidelines</a></p>
                    <p>This process may take few business days. We'll send you an email once the review result is avaliable or you check back status in the dasboard anytime for the status</p>
                    <p><strong>Thanks Team Hola</strong></p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-hola btn-hola-b btn-outline btn-pill">Continue <i class="cui-arrow-right"></i></button>
                </div>
            </div> -->
            <!-- Google Intro End -->


            <!-- Email Config Start -->
            <!-- <form class="hola-form-wrap">
                <div class="form-group">
                    <label>Email ID</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>App Password <i class="h-help-text" tooltip="Help Text Here" placement="right">?</i></label>
                    <input type="text" class="form-control" />
                    <small>If you dont have app password <a href="javascript:void(0);">verifiy your mail ID</a> and <a href="javascript:void(0);">create app password</a></small>
                </div>
                <div class="form-group">
                    <label>Type your sendgrid API token <i class="h-help-text" tooltip="Help Text Here" placement="right">?</i></label>
                    <input type="text" class="form-control" />
                    <small>If you dont have sendgrid API token <a href="javascript:void(0);">click here</a></small>
                </div>
                <div class="form-group hola-submit-brick">
                    <button type="submit" class="btn btn-hola btn-hola-b btn-outline btn-pill">Done <i class="cui-arrow-right"></i></button>
                    <button class="btn btn-skip">Skip Channel<i class="cui-arrow-right"></i></button>
                </div>
            </form> -->
            <!-- Email Config End -->

        </div>
    </div>
</div>