@import '../../../../scss/variables';
.hola-fb-into {
    text-align: center;
    max-width: 500px !important;
    img{
        max-width: 300px;
        width: 100%;
    }
    p{
        color: #585858;
        font-size: 0.9rem;
        line-height: 1.6;
    }
    .btn-hola {
        float: none !important;
        margin: 0 auto;
    }
}
.hola-fb-list{
    h4{
        float: left;
        width: 100%;
        color: #4b2d60;
        margin: 0;
        line-height: 1;
        font-size: 1.2rem;
        font-weight: 400;
    }
    .h-fb-page-list{
        float: left;
        width: 100%;
        max-height: calc(100vh - 215px);
        overflow-y: auto;
        padding: 0 10px;
        margin: 20px 0;
        list-style: none;
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-track {
            background: #efefef;
        }
        &::-webkit-scrollbar-thumb {
            background: #9e9e9e;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $primary_color;
        }
        li {
            border-bottom: 1px solid #e5e5e5;
            padding: 10px 0;
            &:last-child{
                border-bottom: none;
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .h-right {
            flex: 0 0 122px;
            text-align: right;
            padding-left: 15px;
            label{
                float: right;
                border-radius: 3px;
                border: 1px solid #4b2d61;
                margin: 0;
                color: $primary_color;
                font-size: 0.75rem;
                width: 100%;
                padding: 8px 10px;
                text-align: left;
                line-height: 1;
                cursor: pointer;
                i{
                    margin-right: 3px;
                }
            }
            input[type="checkbox"]{
                display: none;
                &:checked{
                    &+label{
                        background-color: $primary_color;
                        color: #fff;
                    }
                }
            }
        }
        .h-left {
            flex: 1 1 0px;
            float: left;
            input[type="checkbox"]{
                display: none;
                &:checked{
                    &+label{
                        color: $primary_color;
                        &:before{
                            background-color: $primary_color;
                        }
                        &:after{
                            display: block;
                        }
                    }
                }
            }
            label{
                float: left;
                line-height: 1.2;
                position: relative;
                cursor: pointer;
                margin: 0;
                font-size: 0.85rem;
                color: #585858;
                padding-top: 2px;
                padding-left: 27px;
                cursor: pointer;
                &:before,&:after{
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                }
                &:before{
                    border: 1px solid $primary_color;
                    border-radius: 2px;
                    width: 18px;
                    height: 18px;
                }
                &:after{
                    display: none;
                    border-width: 0 2px 2px 0;
                    border-style: solid;
                    border-color: transparent #FFF #FFF transparent;
                    width: 6px;
                    height: 10px;
                    transform: rotate(45deg);
                    left: 6px;
                    top: 2px;
                }
            }
        }
    }
}
.hola-google-into{
    text-align: center;
    max-width: 500px !important;
    box-shadow: 0 3px 46px rgba(0, 0, 0, 0.1);
    padding: 25px 20px;
    img{
        max-width: 100%;
    }
    p{
        color: #585858;
        font-size: 0.9rem;
        line-height: 1.6;
        strong{
            color: $primary_color;
        }
    }
    .btn-hola {
        float: none !important;
        margin: 0 auto;
    }
    h4{
        float: left;
        width: 100%;
        color: #4b2d60;
        margin: 0;
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        &:after {
            width: 100px;
            height: 6px;
            background-color: #4b2d60;
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 20px;
        }
    }
}