@import '../../../../scss/variables';
.btn-channel{
    padding: 0;
    outline: none;
    box-shadow: none;
    border: none;
    width: 18px;
    display: flex;
    height: 18px;
    align-items: center;
    margin: 2px 10px 2px 0;
    justify-content: center;
    float: left;
    img{
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        object-position: center;
    }
    &:last-of-type{
        margin-right: 0;
    }
    i{
        color: #727272;;
        font-size: 0.9rem;
    }
}
.hola-list-page-wrap{
    .h-score{
        .badge {
            width: 15px;
            height: 15px;
            padding: 0;
            display: flex;
            float: left;
            align-items: center;
            justify-content: center;
            border-radius: 2px;
            margin: 0 4px 0 0;
            &.badge-success{
                background-color: #005826;
            }
            &.badge-danger{
                background-color: #890000;
            }
        }
        display: flex;
        align-items: center;
        &.h-green{
            color: #005826;
        }
        &.h-red{
            color: #890000;
        }
    }
}