<div class="hola-inner-page animated fadeIn" id="hola-page-leads-list">
    <header class="hola-inner-header">
        <h2 class="hola-page-title">Leads</h2>
        <div class="hola-innner-btn-grp">
            <button class="btn btn-hola btn-outline"><i class="fa fa-address-card-o"></i> Import Leads</button>
            <button class="btn btn-hola btn-outline"><i class="fa fa-filter"></i> Filter</button>
            <button class="btn btn-hola btn-outline"><i class="fa fa-server"></i> Config</button>
        </div>
    </header>
    <section class="hola-list-page-wrap">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th><input type="checkbox" /></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Lead Score</th>
                        <th>Street No.</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Zip Code</th>
                        <th>State</th>
                        <th>Country</th>
                        <th>Channel</th>
                        <th>Lead Stage</th>
                        <th>Last Seen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>Allen Jorge Marck</td>
                        <td><a href="mailto:allenjorge@gmail.com" target="_blank">allenjorge@gmail.com</a></td>
                        <td>9847254758</td>
                        <td>
                            <div class="h-score h-green"><span class="badge badge-success"><i class="fa fa-arrow-up"></i></span> 92</div>
                        </td>
                        <td>7845</td>
                        <td>Address 1</td>
                        <td>Tvm</td>
                        <td>673310</td>
                        <td>Kerala</td>
                        <td>India</td>
                        <td>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_1.png" /></button>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_2.png" /></button>
                            <button class="btn btn-channel"><i class="fa fa-ellipsis-v"></i></button>
                        </td>
                        <td>Warm</td>
                        <td>2 days ago</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>Allen Jorge Marck</td>
                        <td><a href="mailto:allenjorge@gmail.com" target="_blank">allenjorge@gmail.com</a></td>
                        <td>9847254758</td>
                        <td>
                            <div class="h-score h-red"><span class="badge badge-danger"><i class="fa fa-arrow-down"></i></span> 10</div>
                        </td>
                        <td>7845</td>
                        <td>Address 1</td>
                        <td>Tvm</td>
                        <td>673310</td>
                        <td>Kerala</td>
                        <td>India</td>
                        <td>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_3.png" /></button>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_4.png" /></button>
                            <button class="btn btn-channel"><i class="fa fa-ellipsis-v"></i></button>
                        </td>
                        <td>Warm</td>
                        <td>2 days ago</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>Allen Jorge Marck</td>
                        <td><a href="mailto:allenjorge@gmail.com" target="_blank">allenjorge@gmail.com</a></td>
                        <td>9847254758</td>
                        <td>
                            <div class="h-score h-green"><span class="badge badge-success"><i class="fa fa-arrow-up"></i></span> 92</div>
                        </td>
                        <td>7845</td>
                        <td>Address 1</td>
                        <td>Tvm</td>
                        <td>673310</td>
                        <td>Kerala</td>
                        <td>India</td>
                        <td>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_5.png" /></button>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_6.png" /></button>
                            <button class="btn btn-channel"><i class="fa fa-ellipsis-v"></i></button>
                        </td>
                        <td>Warm</td>
                        <td>2 days ago</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>Allen Jorge Marck</td>
                        <td><a href="mailto:allenjorge@gmail.com" target="_blank">allenjorge@gmail.com</a></td>
                        <td>9847254758</td>
                        <td>
                            <div class="h-score h-green"><span class="badge badge-success"><i class="fa fa-arrow-up"></i></span> 92</div>
                        </td>
                        <td>7845</td>
                        <td>Address 1</td>
                        <td>Tvm</td>
                        <td>673310</td>
                        <td>Kerala</td>
                        <td>India</td>
                        <td>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_7.png" /></button>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_8.png" /></button>
                            <button class="btn btn-channel"><i class="fa fa-ellipsis-v"></i></button>
                        </td>
                        <td>Warm</td>
                        <td>2 days ago</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>Allen Jorge Marck</td>
                        <td><a href="mailto:allenjorge@gmail.com" target="_blank">allenjorge@gmail.com</a></td>
                        <td>9847254758</td>
                        <td>
                            <div class="h-score h-green"><span class="badge badge-success"><i class="fa fa-arrow-up"></i></span> 92</div>
                        </td>
                        <td>7845</td>
                        <td>Address 1</td>
                        <td>Tvm</td>
                        <td>673310</td>
                        <td>Kerala</td>
                        <td>India</td>
                        <td>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_1.png" /></button>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_2.png" /></button>
                            <button class="btn btn-channel"><i class="fa fa-ellipsis-v"></i></button>
                        </td>
                        <td>Warm</td>
                        <td>2 days ago</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>Allen Jorge Marck</td>
                        <td><a href="mailto:allenjorge@gmail.com" target="_blank">allenjorge@gmail.com</a></td>
                        <td>9847254758</td>
                        <td>
                            <div class="h-score h-red"><span class="badge badge-danger"><i class="fa fa-arrow-down"></i></span> 10</div>
                        </td>
                        <td>7845</td>
                        <td>Address 1</td>
                        <td>Tvm</td>
                        <td>673310</td>
                        <td>Kerala</td>
                        <td>India</td>
                        <td>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_3.png" /></button>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_4.png" /></button>
                            <button class="btn btn-channel"><i class="fa fa-ellipsis-v"></i></button>
                        </td>
                        <td>Warm</td>
                        <td>2 days ago</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>Allen Jorge Marck</td>
                        <td><a href="mailto:allenjorge@gmail.com" target="_blank">allenjorge@gmail.com</a></td>
                        <td>9847254758</td>
                        <td>
                            <div class="h-score h-green"><span class="badge badge-success"><i class="fa fa-arrow-up"></i></span> 92</div>
                        </td>
                        <td>7845</td>
                        <td>Address 1</td>
                        <td>Tvm</td>
                        <td>673310</td>
                        <td>Kerala</td>
                        <td>India</td>
                        <td>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_1.png" /></button>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_2.png" /></button>
                            <button class="btn btn-channel"><i class="fa fa-ellipsis-v"></i></button>
                        </td>
                        <td>Warm</td>
                        <td>2 days ago</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>Allen Jorge Marck</td>
                        <td><a href="mailto:allenjorge@gmail.com" target="_blank">allenjorge@gmail.com</a></td>
                        <td>9847254758</td>
                        <td>
                            <div class="h-score h-red"><span class="badge badge-danger"><i class="fa fa-arrow-down"></i></span> 10</div>
                        </td>
                        <td>7845</td>
                        <td>Address 1</td>
                        <td>Tvm</td>
                        <td>673310</td>
                        <td>Kerala</td>
                        <td>India</td>
                        <td>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_3.png" /></button>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_4.png" /></button>
                            <button class="btn btn-channel"><i class="fa fa-ellipsis-v"></i></button>
                        </td>
                        <td>Warm</td>
                        <td>2 days ago</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>Allen Jorge Marck</td>
                        <td><a href="mailto:allenjorge@gmail.com" target="_blank">allenjorge@gmail.com</a></td>
                        <td>9847254758</td>
                        <td>
                            <div class="h-score h-green"><span class="badge badge-success"><i class="fa fa-arrow-up"></i></span> 92</div>
                        </td>
                        <td>7845</td>
                        <td>Address 1</td>
                        <td>Tvm</td>
                        <td>673310</td>
                        <td>Kerala</td>
                        <td>India</td>
                        <td>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_5.png" /></button>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_6.png" /></button>
                            <button class="btn btn-channel"><i class="fa fa-ellipsis-v"></i></button>
                        </td>
                        <td>Warm</td>
                        <td>2 days ago</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>Allen Jorge Marck</td>
                        <td><a href="mailto:allenjorge@gmail.com" target="_blank">allenjorge@gmail.com</a></td>
                        <td>9847254758</td>
                        <td>
                            <div class="h-score h-green"><span class="badge badge-success"><i class="fa fa-arrow-up"></i></span> 92</div>
                        </td>
                        <td>7845</td>
                        <td>Address 1</td>
                        <td>Tvm</td>
                        <td>673310</td>
                        <td>Kerala</td>
                        <td>India</td>
                        <td>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_7.png" /></button>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_8.png" /></button>
                            <button class="btn btn-channel"><i class="fa fa-ellipsis-v"></i></button>
                        </td>
                        <td>Warm</td>
                        <td>2 days ago</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>Allen Jorge Marck</td>
                        <td><a href="mailto:allenjorge@gmail.com" target="_blank">allenjorge@gmail.com</a></td>
                        <td>9847254758</td>
                        <td>
                            <div class="h-score h-green"><span class="badge badge-success"><i class="fa fa-arrow-up"></i></span> 92</div>
                        </td>
                        <td>7845</td>
                        <td>Address 1</td>
                        <td>Tvm</td>
                        <td>673310</td>
                        <td>Kerala</td>
                        <td>India</td>
                        <td>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_1.png" /></button>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_2.png" /></button>
                            <button class="btn btn-channel"><i class="fa fa-ellipsis-v"></i></button>
                        </td>
                        <td>Warm</td>
                        <td>2 days ago</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>Allen Jorge Marck</td>
                        <td><a href="mailto:allenjorge@gmail.com" target="_blank">allenjorge@gmail.com</a></td>
                        <td>9847254758</td>
                        <td>
                            <div class="h-score h-red"><span class="badge badge-danger"><i class="fa fa-arrow-down"></i></span> 10</div>
                        </td>
                        <td>7845</td>
                        <td>Address 1</td>
                        <td>Tvm</td>
                        <td>673310</td>
                        <td>Kerala</td>
                        <td>India</td>
                        <td>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_3.png" /></button>
                            <button class="btn btn-channel"><img src="../../../../assets/img/hola/channel_4.png" /></button>
                            <button class="btn btn-channel"><i class="fa fa-ellipsis-v"></i></button>
                        </td>
                        <td>Warm</td>
                        <td>2 days ago</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ul class="h-pagination pagination">
            <li class="page-item"><a class="page-link" href="javascript:void(0);"><i class="icon icon-arrow-left"></i></a></li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);"><i class="icon icon-arrow-right"></i></a></li>
        </ul>
    </section>
</div>