// Here you can add other styles
body {
  background: #fff;
}
main.main {
  background-color: #f8f8f8;
}
.btn {
  box-shadow: none;
  outline: none;
}
.btn-hola {
  background-color: $primary_color;
  color: #fff;
  box-shadow: none !important;
  outline: none;
  &:hover {
    background-color: $secondary_color;
    color: #fff;
  }
  &.btn-outline {
    color: $primary_color;
    background-color: transparent;
    border-color: $primary_color;
    &:hover {
      background-color: $primary_color;
      color: #fff;
    }
  }
  &.btn-hola-b {
    float: left;
    border-width: 2px;
    height: 45px;
    min-width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    .cui-arrow-right {
      margin-left: 8px;
      font-size: 1.1rem;
    }
  }
}
.hola-btn-link {
  color: #00aaf2;
  padding: 0;
  line-height: 1.2;
  height: unset;
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 0.9rem;
  &:hover {
    color: $primary_color;
  }
}
.hola-back {
  text-align: center;
  height: 40px;
  font-size: 2rem;
  text-decoration: none !important;
  color: transparent;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0.7;
  &:hover {
    color: #fff;
    opacity: 1;
  }
}
// Landing Page
#hola-landing-page {
  img {
    max-width: 100%;
  }
  .hola-landing-outer {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    position: relative;
    background-color: #f5f7f9;
    background-image: url("../assets/img/hola/landing_bg_1.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    .hola-landing-insider {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      min-height: 100vh;
      overflow: hidden;
      position: relative;
      &:before {
        content: "";
        background-image: linear-gradient(to top, #c96ee5 0%, #9b6bf2 100%);
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: -49%;
        top: -23%;
        opacity: 0.03;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        transform: rotate(135deg);
      }
    }
  }
  .container {
    max-width: 1280px;
  }
  .hola-land-top-left {
    text-align: left;
    img {
      float: left;
    }
  }
  .hola-land-top-right {
    .nav {
      float: right;
      font-family: $font-family-lato;
      .nav-item {
        margin-right: 40px;
        &:last-child {
          margin-right: 0px;
        }
      }
      .nav-link {
        display: block;
        padding: 0.5rem 0;
        line-height: 1;
        font-size: 0.95rem;
        color: #3b3b3b;
        border: 1px solid transparent;
        &:hover {
          color: $primary_color;
        }
        &.nav-login {
          padding: 0.5rem 1.2rem;
          color: $primary_color;
          border-color: $primary_color;
          -webkit-border-radius: 30px;
          border-radius: 30px;
          display: flex;
          align-items: center;
          &:hover {
            background-color: $primary_color;
            color: #fff;
          }
          .cui-arrow-right {
            margin-left: 5px;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
  .h-top {
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    min-height: 50px;
  }
  .h-bottom {
    min-height: calc(100vh - 150px);
    align-items: center;
    padding: 15px 0;
  }
  .hola-land-bot-left {
    text-align: left;
    h2 {
      float: left;
      width: 100%;
      font-family: $font-family-lato;
      font-weight: 300;
      color: $primary_color;
      font-size: 2.8125rem;
      margin: 0 0 20px;
      line-height: 1.1;
      strong {
        font-weight: 900;
      }
    }
    p {
      float: left;
      width: 100%;
      color: #767676;
      font-size: 1rem;
      line-height: 1.5;
      margin: 0 0 25px;
    }
    .btn {
      float: left;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      min-width: 140px;
      margin-top: 15px;
    }
  }
  .hola-land-bot-right {
    text-align: center;
  }
}
// Config Wizard
#hola-config-wizard {
  float: left;
  width: 100%;
  .hola-config-brick {
    float: left;
    width: 100%;
    position: relative;
    display: flex;
  }
  .hola-config-sidebar {
    background-color: $primary_color;
    flex: 0 0 200px;
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    padding: 85px 15px 15px 15px;
    min-height: 320px;
    .hola-nav {
      float: left;
      width: 100%;
      padding: 0;
      margin: 15px 0;
      list-style: none;
      max-width: 115px;
      li {
        float: left;
        width: 100%;
        color: #745888;
        line-height: 1;
        font-size: 0.85rem;
        padding: 6px 0;
        cursor: pointer;
        margin: 3px 0;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        &.active {
          color: #fff;
        }
        &:not(.active) {
          &:hover {
            color: #a082b5;
          }
        }
      }
    }
  }
  .hola-config-main {
    float: left;
    width: 100%;
    flex: 1 1 0px;
  }
  .hola-config-section {
    display: flex;
    float: left;
    width: 100%;
    &.hola-step-theme,
    &.hola-step-configuration {
      .hola-config-left {
        flex: 0 0 50%;
        padding-right: 190px;
        position: relative;
      }
    }
    &.hola-step-knowledge {
      .hola-right-popin {
        justify-content: flex-start !important;
        .hola-popin-header {
          max-width: 700px;
        }
        .hola-custom-knowledge-wrap {
          float: left;
          width: 100%;
          max-width: 700px;
          .form-group {
            float: left;
            margin: 0;
          }
        }
      }
    }
  }
  .hola-config-left {
    background-color: #f4f5f9;
    padding: 15px;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex: 0 0 40%;
    background-image: url("../assets/img/hola/wizard_bg.png");
    background-position: bottom center;
    background-repeat: repeat-x;
    background-size: contain;
  }
  .hola-config-right {
    height: 100vh;
    flex: 1 1 0px;
    float: left;
    overflow-y: auto;
    position: relative;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: #ddd;
    }
    &::-webkit-scrollbar-thumb {
      background: $primary_color;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $secondary_color;
    }
  }
  .hola-config-titles {
    display: inline-block;
    width: 100%;
    max-width: 450px;
    h3 {
      color: $primary_color;
      float: left;
      width: 100%;
      position: relative;
      margin: 0;
      font-weight: 700;
      font-size: 35px;
      padding-bottom: 15px;
      margin-bottom: 20px;
      &:after {
        content: "";
        background-color: $secondary_color;
        height: 7px;
        width: 100px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    p {
      float: left;
      width: 100%;
      color: #4e4e4e;
      font-size: 0.9rem;
      line-height: 1.5;
      margin: 0;
    }
  }
  .hola-config-contents {
    display: flex;
    width: 100%;
    min-height: 100%;
    padding: 50px;
    position: relative;
    align-items: center;
    justify-content: center;
    .btn-skip {
      position: absolute;
      right: 50px;
      top: 50px;
      font-size: 0.95rem;
      display: flex;
      align-items: center;
      padding: 5px;
      height: unset;
      line-height: 1;
      color: $primary_color;
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none;
      &:hover {
        opacity: 0.8;
      }
      i {
        margin-left: 8px;
      }
    }
    &.hola-right-popin {
      display: none;
      position: absolute !important;
      top: 0;
      right: 0;
      background-color: #fff;
      max-width: calc(100% - 50px);
      box-shadow: 0 3px 46px rgba(0, 0, 0, 0.1);
      z-index: 1;
      flex-direction: column;
      justify-content: center;
      &.show {
        display: flex !important;
      }
    }
    .hola-popin-header {
      float: left;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
      max-width: 450px;
      h4 {
        font-size: 1rem;
        line-height: 1;
        margin: 0;
        color: $primary_color;
      }
      .hola-btn-close {
        float: right;
        width: 25px;
        line-height: 1;
        height: 25px;
        padding: 0;
        box-shadow: none !important;
        outline: none;
        img {
          width: 100%;
          height: 100%;
          object-fit: scale-down;
          object-position: center;
        }
      }
    }
  }
  .hola-form-wrap {
    width: 100%;
    max-width: 450px;
    .form-group {
      float: left;
      width: 100%;
      margin-bottom: 0;
      & + .form-group {
        margin-top: 30px;
      }
      label {
        float: left;
        width: 100%;
        color: #575657;
        line-height: 1;
        font-size: 0.9rem;
      }
      select {
        cursor: pointer;
      }
      .form-control {
        border: 1px solid #cccccc;
        border-radius: 3px;
        height: 40px;
        color: #444;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
        background-color: #fff;
      }
      small {
        float: left;
        width: 100%;
        color: #575657;
        font-size: 0.7rem;
        line-height: 1.2;
        margin-top: 8px;
        a {
          color: #017bbb;
        }
      }
    }
  }
}
// Channel Selector
.hola-channel-selector {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    float: left;
    width: 100%;
    border: 1px solid #ccc;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
    & + li {
      margin-top: 20px;
    }
    input[type="checkbox"] {
      display: none;
      &:checked {
        & + label {
          i:before {
            left: unset;
            right: 2px;
            background-color: $secondary_color;
          }
        }
      }
    }
    label {
      display: flex;
      align-items: center;
      padding: 5px 30px;
      margin: 0;
      color: #515151 !important;
      cursor: pointer;
      min-height: 50px;
      &:hover {
        color: $primary_color !important;
      }
      img {
        float: left;
        margin-right: 25px;
        width: 25px;
        height: 25px;
        object-fit: scale-down;
        object-position: center;
      }
      i {
        margin-left: auto;
        background-color: #d4d5d7;
        width: 26px;
        height: 14px;
        border-radius: 25px;
        position: relative;
        transition: all ease 0.2s;
        &:before {
          content: "";
          position: absolute;
          left: 2px;
          top: 0px;
          bottom: 0px;
          height: 10px;
          background-color: #fff;
          width: 10px;
          margin: auto;
          -webkit-border-radius: 50%;
          border-radius: 50%;
        }
      }
    }
  }
  &.hola-channel-sticky {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    li {
      background-color: #f4f5f9;
      margin-top: 1px !important;
      -webkit-border-radius: 0;
      border-radius: 0;
      border: none;
      position: relative;
      &.active {
        background-image: linear-gradient(to right, #f4f5f9 0%, #ffffff 100%);
        label {
          color: $primary_color !important;
        }
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to right, #f4f5f9 0%, #dcdde0 100%);
      }
      & + li {
        margin-top: inherit;
      }
      &:last-child {
        margin-bottom: 1px;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 1px;
          background-image: linear-gradient(to right, #f4f5f9 0%, #dcdde0 100%);
        }
      }
      label {
        padding: 3px 10px;
        font-size: 0.8rem;
        min-height: 60px;
        img {
          margin-right: 25px;
          width: 21px;
          height: 21px;
        }
      }
    }
  }
}
.hola-submit-brick {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn-skip {
    position: relative !important;
    top: unset !important;
    right: unset !important;
  }
}
.hola-color-picker-in {
  float: left;
  width: 100%;
  position: relative;
  .hola-theme-color {
    position: absolute;
    border-radius: 2px;
    width: 24px;
    height: 24px;
    left: 10px;
    top: 0;
    z-index: 1;
    margin: auto;
    bottom: 0;
    & + .form-control {
      padding-left: 45px;
      position: relative;
    }
  }
}
.hola-handover-picker-brick {
  float: left;
  width: 100%;
  display: flex;
  & > div {
    & + div {
      margin-left: 15px;
    }
  }
  label {
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 40px !important;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    i {
      font-size: 1.1rem;
      line-height: 1;
      color: #8b8b8b;
    }
  }
  input[type="radio"] {
    display: none;
    &:checked {
      & + label {
        &.hola_handover_yes {
          border-color: green;
          i {
            color: green;
          }
        }
        &.hola_handover_no {
          border-color: red;
          i {
            color: red;
          }
        }
      }
    }
  }
}
.h-help-text {
  font-style: normal;
  background-color: #8b8b8b;
  display: inline-block;
  width: 14px;
  height: 14px;
  color: #fff;
  font-family: Lato;
  text-align: center;
  line-height: 14px;
  font-size: 0.7rem;
  cursor: help;
  border-radius: 50%;
  vertical-align: top;
  font-weight: 900;
}
.hola-icon-picker-brick {
  float: left;
  width: 100%;
  display: flex;
  & > div {
    & + div {
      margin-left: 15px;
    }
  }
  label {
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 40px !important;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    background-color: #fff;
    img {
      width: 22px;
      height: 22px;
    }
  }
  input[type="radio"] {
    display: none;
    &:checked {
      & + label {
        background-color: $primary_color;
        img {
          filter: brightness(100);
        }
      }
    }
  }
}
.hola-bot-preview-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 210px);
  background-color: #f4f5f9;
  height: 100%;
  overflow-y: auto;
  padding: 15px;
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 46px rgba(0, 0, 0, 0.1);
  &.show {
    display: flex !important;
  }
  .hola-btn-close {
    position: absolute;
    right: 40px;
    top: 40px;
    width: 30px;
    line-height: 1;
    height: 30px;
    padding: 0;
    box-shadow: none !important;
    outline: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
      object-position: center;
    }
  }
  .hola-bot-preview-block {
    width: 320px;
    position: relative;
    max-width: 100%;
    margin: 15px 0;
    display: inline-block;
    .hola-box-preview-icon {
      float: right;
      background-color: $primary_color;
      border-radius: 3px;
      width: 40px;
      height: 40px;
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        filter: brightness(100);
        width: 21px;
        height: 21px;
        object-fit: scale-down;
        object-position: center;
      }
    }
  }
  .hola-bot-preview-layout {
    float: left;
    width: 100%;
    height: 480px;
    background-color: #fff;
    -webkit-box-shadow: 0 54px 103px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 54px 103px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .hola-bot-preview-head {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 46px rgba(0, 0, 0, 0.1);
    flex: 0 0 50px;
    padding: 0 15px;
    .icons {
      width: 20px;
      text-align: center;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #a0a0a0;
    }
    label {
      margin: 0;
      font-weight: 500;
      color: $primary_color;
      font-size: 0.875rem;
      line-height: 1;
    }
  }
  .hola-bot-preview-body {
    flex: 1 1 0px;
    float: left;
    width: 100%;
    padding: 15px;
    .hola-bot-timestamp {
      float: left;
      width: 100%;
      text-align: center;
      font-size: 0.7rem;
      color: #afafaf;
      padding: 5px 0;
      margin-bottom: 5px;
      line-height: 1;
    }
    .hola-bot-row {
      float: left;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      img {
        margin-right: 10px;
        border-radius: 50%;
        width: 32px;
        height: 32px;
      }
      & + .hola-bot-row {
        margin-top: 20px;
      }
      span {
        width: 100%;
        max-width: calc(100% - 60px);
        border-radius: 10px;
        padding: 10px 12px;
        p {
          float: left;
          width: 100%;
          margin: 0;
          color: #000000;
          font-size: 0.71rem;
          line-height: 1.4;
        }
        &.hola-bot-outgoing {
          margin-left: auto;
          background-color: $primary_color;
          p {
            color: #fff;
          }
        }
        &.hola-bot-incoming {
          background-color: #ecf1f7;
        }
      }
    }
  }
  .hola-bot-preview-footer {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-top: 1px solid #eee;
    flex: 0 0 55px;
    textarea {
      height: 45px;
      border: none;
      outline: none;
      box-shadow: none;
      font-size: 0.75rem;
      flex: 1 1 0px;
      resize: none;
      padding: 5px;
      &::placeholder {
        color: #ccc;
      }
    }
    .btn {
      font-weight: 500;
      height: 45px;
      line-height: 1;
      padding: 0;
      width: 50px;
      box-shadow: none !important;
      outline: none;
      color: $primary_color;
      font-size: 0.85rem;
    }
  }
}
.hola-custom-know-tabs {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  .nav-tabs {
    float: left;
    width: 100%;
    justify-content: space-between;
    .nav-item {
      flex: 1 1 0;
      border-bottom: 1px solid #ccc;
      .nav-link {
        border-bottom: 2px solid transparent;
        border-top: none;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        color: #575657;
        text-align: center;
        font-weight: 500;
        font-size: 0.85rem;
      }
      &.active {
        .nav-link {
          border-bottom-color: $primary_color;
          color: $primary_color;
        }
      }
    }
  }
  .tab-content {
    float: left;
    width: 100%;
    margin: 0;
    border: none;
  }
  .tab-pane {
    float: left;
    width: 100%;
    padding: 20px 0;
  }
}
.hola-custom-know-tab-content {
  float: left;
  width: 100%;
}
.hola-custom-know-tab-btns {
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 5px;
  margin-bottom: 10px;
  .btn {
    float: left;
    font-size: 0.8rem;
    .fa {
      margin-right: 5px;
    }
    & + .btn {
      margin-left: 18px;
    }
  }
}
.hola-custom-know-tab-collpse {
  float: left;
  width: 100%;
  padding: 0 5px;
  max-height: calc(100vh - 355px);
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background: #eee;
  }
  &::-webkit-scrollbar-thumb {
    background: #9e9e9e;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $primary_color;
  }
  ul {
    float: left;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      float: left;
      width: 100%;
      border-bottom: 1px solid #e5e5e5;
    }
  }
}
.hola-collapse-head {
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  align-items: center;
  h5 {
    float: left;
    width: 100%;
    flex: 1 1 0;
    margin: 0;
    font-weight: 400;
    font-size: 0.9rem;
    color: $primary_color;
  }
  span {
    float: right;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .btn:not(.hola-eye) {
      width: 26px;
      height: 26px;
      line-height: 1;
      padding: 0;
      box-shadow: none !important;
      outline: none;
      &.active {
        .flip {
          display: none;
        }
        .flop {
          display: flex !important;
        }
      }
      .flip,
      .flop {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        border-radius: 50%;
        border: 1px solid #aaa;
        font-style: normal;
        font-size: 1rem;
        justify-content: center;
        color: #aaa;
      }
    }
  }
  .hola-eye {
    height: 26px;
    width: 26px;
    display: inline-block;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: none !important;
    outline: none;
    margin-right: 15px;
    &.h-open {
      background-image: url("../assets/img/hola/eye_open.png");
    }
    &.h-closed {
      background-image: url("../assets/img/hola/eye_close.png");
    }
  }
}
.hola-collapse-body {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  p {
    float: left;
    width: 100%;
    font-size: 0.85rem;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .hola-colla-se-actions {
    float: right;
    .btn {
      width: 20px;
      height: 20px;
      & + .btn {
        margin-left: 6px;
      }
    }
  }
}
.hola-bot-snippet {
  float: left;
  width: 100%;
  background-color: #fbfcfd;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 15px;
  .hola-snippet-btns {
    float: left;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 15px;
    .btn-alt2 {
      margin-right: 12px;
      font-size: 1.05rem;
      padding: 0;
      width: 28px;
      border: none !important;
    }
  }
  textarea {
    border: none !important;
    resize: none;
    height: 100px !important;
    padding: 0;
    box-shadow: none !important;
    outline: none !important;
    font-size: 0.75rem;
    color: #666666 !important;
    line-height: 1.5;
    background-color: transparent !important;
    &::selection {
      color: #fff;
      background: #00aaf2;
    }
  }
}
.btn-alt1 {
  min-width: 80px;
  margin-top: 15px;
}
.hola-snippet-help {
  margin-top: 20px !important;
  label {
    font-size: 0.8rem !important;
    line-height: 1.5 !important;
    color: #6f6f6f !important;
    margin: 0;
    a {
      color: #017bbb;
    }
  }
}
// Sidebar
.hola-dash-sidebar {
  background: $primary_color;
  .nav-item {
    margin-top: 12px;
  }
  .nav-link {
    .nav-icon {
      color: #fff;
    }
    &.active {
      background: $secondary_color;
      .nav-icon {
        color: #fff;
      }
    }
    &.nav-link:hover {
      background: $secondary_color;
      opacity: 0.9;
    }
  }
}
.breadcrumb-item {
  a {
    color: $secondary_color;
  }
}
// Inner Page
.hola-inner-page {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  .hola-page-title {
    float: left;
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 20px;
    color: $primary_color;
  }
  .hola-inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .hola-page-title{
      margin: 0;
      width: unset;
    }
  }
  .hola-innner-btn-grp {
    float: right;
    .btn{
      margin-left: 15px;
      float: left;
      line-height: 1;
      height: 32px;
      padding: 0 10px;
      font-size: 0.85rem;
    }
  }
}
.hola-list-page-wrap {
  box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.03);
  float: left;
  width: 100%;
  background-color: #FFF;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  .table{
    float: left;
    width: 100%;
    border: none;
    border-radius: 5px 5px 0 0;
    a{
      color: #33b1f1;
    }
    thead {
      th{
        border: none;
        color: #424242;
        font-weight: 500;
        padding: 1rem 0.75rem;
        line-height: 1.2;
        font-size: 0.8rem;
      }
      tr{
        background-color: #f1f1f1;
      }
    }
    tbody{
      td{
        border: none;
        padding: 1rem 0.75rem;
        font-size: 0.8rem;
        color: #767676;
        font-weight: 400;
      }
      tr{
        transition: all ease 0.2s;
        border-bottom: 1px solid #ececec;
        &:hover{
          box-shadow: 0 8px 42px 4px rgba(75, 45, 96, 0.27);
        }
      }
    }
  }
  .pagination {
    float: right;
    margin: 15px 15px 15px 0;
  }
  .table-responsive {
    float: left;
  }
}
// Pagination
.h-pagination{
  li{
    margin-right: 5px;
    &:last-child{
      margin-right: 0;
    }
    &.active{
      .page-link{
        background-color: $primary_color;
        color: #FFF;
      }
    }
  }
  .page-link{
    border-radius: 50% !important;
    background-color: #dbd5df;
    color: $primary_color;
    border: none;
    padding: 0;
    width: 35px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    box-shadow: none;
    outline: none;
    &:hover{
      opacity: 0.9;
    }
  }
}
// File uploadr
.h-file-uploader {
  float: left;
  width: 100%;
  position: relative;
  .form-control-file {
    display: none;
  }
  label {
    padding: 20px;
    display: flex;
    border-radius: 3px;
    align-items: center;
    border: 1px dashed rgba(85, 85, 85, 0.4);
    background-color: #ffffff;
    .icon {
      color: $primary_color;
      font-size: 1.4rem;
    }
    p {
      color: #999898;
      margin: 0 0 0 13px;
      font-size: 0.9rem;
      em {
        color: #00aaf2;
        font-style: normal;
        text-decoration: underline;
      }
    }
  }
}
// Progress
.hola-progress-group {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  vertical-align: top;
  .text-muted {
    float: left;
    font-size: 0.8rem;
    width: 100%;
    line-height: 1;
    color: #6c757d !important;
    margin-bottom: 6px;
  }
  .hola-progress {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .progress {
      flex: 1 1 0px;
      margin: 0 !important;
      background-color: #e9ecef;
      .progress-bar{
        background-color: $primary_color;
      }
    }
    strong{
      color: #5b5b5b;
      font-weight: 400;
      font-size: 0.75rem;
      min-width: 30px;
      padding-left: 5px;
      line-height: 1;
      text-align: right;
    }
  }
}
// Mobile
@media (min-width: 992px) {
  .sidebar-minimized .hola-dash-sidebar .sidebar-minimizer {
    background-color: $secondary_color;
    &:before {
      filter: brightness(100);
    }
  }
}
