<div class="hola-config-wizard" id="hola-config-wizard">
  <div class="hola-config-brick">
    <aside class="hola-config-sidebar">
      <a href="javascript:void(0);" class="hola-back"><i class="cui-arrow-left"></i></a>
      <ul class="hola-nav">
        <li routerLinkActive="active" [routerLink]="['/manage-bots/basic-info']">Basic Info</li>
        <li routerLinkActive="active" [routerLink]="['/manage-bots/channels']">Channels</li>
        <li routerLinkActive="active" [routerLink]="['/manage-bots/theme']">Theme</li>
        <li routerLinkActive="active"  [routerLink]="['/manage-bots/knowledge']">Knowledge</li>
        <li routerLinkActive="active" [routerLink]="['/manage-bots/configuration']">Configuration</li>
        <li routerLinkActive="active" [routerLink]="['/dashboard']">Dashboard</li>
        <li routerLinkActive="active" [routerLink]="['/manage-bots/confirmation']">Confirmation</li>
      </ul>
    </aside>
    <section class="hola-config-main">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>